{% extends "base_generic.html" %}


{% load static %}

{% block content %}
  <div class="content-block col-11">
    <div class="content-block__error">
      <h2 class="content-block__error-title">
        Ошибка 403 (Forbidden, доступ запрещен)
      </h2>
      <hr>
      <p class="content-block__error-text">
        Что такое ошибка 403 – доступ запрещен?<br>
        Ошибка доступа 403 происходит, когда веб-страница (или другой ресурс), которую вы пытаетесь открыть в
        веб-браузере, является ресурсом, к которому у вас ограничен доступ. Она называется ошибкой 403 по коду состояния
        протокола HTTP, который использует веб-сервер для описания ошибки такого рода. Обычно это случается по одной из
        двух причин. Первая заключается в том, что владельцы веб-сервера осознанно установили ограничения доступа и вам
        действительно запрещен доступ к этому ресурсу. Вторая причина заключается в том, что владельцы веб-сервера
        случайно установили ограничения и вы не получаете доступ к требуемому ресурсу по ошибке.
      </p>
    </div>
  </div>
{% endblock %}

{% block promo %}
{% endblock %}

{% block text-info %}
{% endblock %}
