{% extends "base_generic.html" %}


{% load static %}

{% block content %}
  <div class="content-block col-11">
    <div class="content-block__error">
      <h2 class="content-block__error-title">
        Ошибка 404 (Page not found, страница не найдена)
      </h2>
      <hr>
      <p class="content-block__error-text">
        Что такое ошибка 404 – страница не найдена?<br>
        Ошибка 404 — это код ответа сервера, который сообщает пользователю, что сервер не может найти запрашиваемые
        данные. Почему такое может произойти? Есть несколько возможных причин:
        <br>
        1. Вы допустили ошибку при вводе адреса страницы или файла в браузер. Или браузеру не удалось найти ip адрес
        сервера. Сервер не может найти и выдать данные потому, что вы дали ему неправильные «координаты». В таком случае
        вам достаточно просто исправить ошибку в URL-адресе, и вместо страницы с ошибкой 404 появятся искомые
        страница/файл.
        <br>
        2. Данные (страница или файл) не размещены на сервере, или CMS неверно отвечает на запрос пользователя. В этом
        случае дело обстоит сложнее, и быстро справиться с проблемой не получится. Чтобы устранить ошибку 404,
        определите, как создавался сайт, на котором обнаружена ошибка (на CMS или без использования CMS). От этого будет
        зависеть способ решения проблемы.
      </p>
    </div>
  </div>
{% endblock %}

{% block promo %}
{% endblock %}

{% block text-info %}
{% endblock %}