@import "styles.css";


/* allpay_app */

.allpay-app-block {
    cursor: default;
}

.allpay-app-block p {
    font-size: 24px;
    margin: 10px 0;
}

.allpay-app-block__header {
    background: url(../imgs/allpay_header_bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column-reverse;
    height: 40vw;
    margin: auto;
}

.allpay-app-block__header-text {
    font-size: 2vw!important;
    line-height: 1.2;
    width: 45vw;
}

.allpay-app-block__content h2 {
    color: red;
    font: normal 600 40px 'Oranienbaum', serif;
    margin: 30px;
    text-align: center;
}

.allpay-app-block__content h3 {
    font: 30px Oranienbaum;
    margin: 30px;
    text-align: center;
}

.allpay-app-block__steps-list {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: auto;
}

.allpay-app-block__steps-list li {
    align-items: center;
    border-radius: 25px;
    display: flex;
    font: normal 30px /1.2 Oranienbaum;
    min-height: 70px;
    padding: 10px 0;
    transition: .5s;
}

.allpay-app-block__steps-list li:hover {
    background: lightcyan;
    transform: scale(1.05, 1.05);
    transition: .5s;
}

.allpay-app-block__steps-list img {
    margin: 0 30px;
    width: 50px;
}

.allpay-app-block__central-line {
    background: red;
    height: 200px;
    margin: 50px 0 100px 0;
    width: 100%;
}

.allpay-app-block__central-text {
    float: left;
    margin: 0 30px 0;
    width: 300px;
}

.allpay-app-block__central-text * {
    color: white;
}

.allpay-app-block__central-image {
    background-image: url(../imgs/allpay_map.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 14px;
    height: 250px;
    left: 50vw;
    position: relative;
    width: 350px;
}

.allpay-app-block__footer {
    margin: auto;
}

.footer-upper__image {
    background: url(../imgs/basket.png) center no-repeat;
    background-size: contain;
}

/* allpay_app end */

/* allpay_terms_service */

.allpay-terms__text * {
    font-family: 'Bitter', serif!important;
}

.allpay-terms__text p, li {
    font-size: 18px;
}

.allpay-terms__text h4 {
    text-align: center;
    margin: 20px;
}

/* allpay_terms_service end */

/* credit_card */

.credit-card-block__header {
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 90%), url(../imgs/credit_card-bg.jpg) no-repeat;
    background-size: cover;
    min-height: 850px;
    padding: 0 0 200px 0;
    width: 100%;
}

@media (max-width: 991px) {

    .credit-card-block__header {
        background: linear-gradient(135deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 80%), url(../imgs/credit_card-bg.jpg) no-repeat;
        min-height: 250px;
        margin: auto;
    }
}

.credit-card-block__header-content {
    text-align: center;
    min-height: 100%;
}

.header-content-block {
    display: flex;
    flex-flow: column;
    min-height: 650px;
}

.header-content-title {
    font: normal 600 35px 'Bitter', serif;
    color: red;
    height: 200px;
    padding: 5% 0;
}

.header-content__card-image {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: animation_card;
    border-radius: 25px;
    cursor: help;
    left: 0;
    opacity: 1;
    position: absolute;
    transition: .5s;
    width: 100%;
}

@keyframes animation_card {

    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }

}

.header-content__card-image:hover {
    opacity: 0;
    transition: .5s;
}

.header-content__under-card {
    font: normal 600 35px /1.3 serif;
    padding: 5% 0;
}

.header-content__text {
    font-size: 18px;
    margin-top: auto;
    max-width: 600px;
    text-align: justify;
    text-indent: 10px;
}

.credit-card-block__main-content {
    margin: -150px auto 0 auto;
}

.credit-card-block__main-content p {
    font: normal 20px 'Oranienbaum';
}

.credit-card-block__main-content .card-header {
    background: rgba(0,123,255,.25);
    border: 2px solid black;
    height: 70px;
    position: relative;
    text-align: center;
}

.credit-card-block__main-content .card-header a {
    color: black;
    font: 30px Vollkorn, serif;
    letter-spacing: 1px;
}

.credit-card-block__main-content .card-header a::before {
    top: 5px;
    content: "";
    height: 100%;
    left: 2vw;
    position: absolute;
    width: 100px;
    transition: .3s;
}

.credit-card-block__main-content a[aria-expanded*='false']::before {
    background: url(../imgs/arrow_down.png) no-repeat;
    background-size: 50%;
}

.credit-card-block__main-content a[aria-expanded*='true']::before {
    background: url(../imgs/arrow_up.png) no-repeat;
    background-size: 50%;
}

.credit-card-block__main-content .card-body {
    border: 0;
}

.credit-card-block__main-content .checkbox {
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

.credit-card-block__main-content h4 {
    align-items: center;
    display: flex;
    font: normal 600 25px /1 'Oranienbaum';
    min-height: 70px;
    text-align: center;
}

.credit-card-block__main-content li {
    font: normal 20px /1 'Oranienbaum';
    margin: 10px;
}

.credit-card-block__main-content tr {
    height: 40px;
}

.credit-card-block__main-content tr:nth-child(2n) {
    background: #e8edff;
}

.credit-card-block__main-content td {
    border-right: 5px solid white;
    padding: 0 5px;
    vertical-align: middle;
}

.main-content-button {
    background: red;
    color: white;
    font: normal 28px 'Oranienbaum';
}

/* credit_card end */

/* faq_page */

.faq-block__text {
    font-size: 20px;
    text-indent: 20px;
}

/* faq_page end */

/* for_wholesalers */

a {
    color: #2026da;
}

a:hover {
    color: #ffc107;
}

.for_wholesalers-block {
    background: black;
    border-radius: 25px;
    cursor: default;
    margin: 0 auto;
}

.for_wholesalers-block__header {
    animation: trans_map 30s linear infinite;
    animation-play-state: running;
    background-image: url(../imgs/for-wholesalers_header.jpg);
    background-position-y: -200px;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
}

@keyframes trans_map {

    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 325%;
    }

}

.for_wholesalers-block__header p {
    color: white;
    font: normal 700 55px serif;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: black 0 0 10px;
}

.for_wholesalers-block h2 {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 2px;
    text-align: center;
}

.for_wholesalers-block__section {
    padding: 15px 0 15px 0;
}

.for_wholesalers-block__section .contact-button {
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
}

.for_wholesalers-form-block {
    background: white;
    display: flex;
    justify-content: center;
}

.for_wholesalers-form {
    background: #e9ecef;
    border-radius: 25px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

@media (max-width: 767px) {

    .for_wholesalers-form {
        border-radius: inherit;
        margin: 0;

    }
}

.section-container {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-item {
    background: white;
    box-sizing: border-box;
    display: block;
    padding: 40px;
    text-align: center;
    width: calc(50% - 1px);
}

/* for_wholesalers end */

/* furniture_assembly */

.furniture_assembly-block__header {
    background: url(../imgs/furniture_assembly.png) no-repeat;
    background-size: cover;
    border-radius: 25px;
    height: 350px;
}

.furniture_assembly-block__text p {
    font: normal 20px 'Oranienbaum';
    text-indent: 20px;
    margin: 10px 0;
}

.furniture_assembly-block__table {
    display: flex;
    flex-wrap: wrap;
}

.furniture_assembly-block__table th {
    background: #4f7a88;
    border: 10px solid;
    border-radius: 25px;
    color: white;
    font: normal 600 28px 'Oranienbaum';
    height: 80px;
    vertical-align: middle;
}

.furniture_assembly-block__table tr:nth-child(odd) {
    background: #a9a9a930;
}

.furniture_assembly-block__table tr:nth-child(even) {
    background: lightgrey;
}

.furniture_assembly-block__table td {
    border: 10px solid white;
    border-radius: 25px;
    font: 25px 'Oranienbaum';
    height: 50px;
    vertical-align: middle;
}

.furniture_assembly-block__table td:nth-child(odd) {
    text-indent: 20px;
}

.furniture_assembly-block__table td:nth-child(even) {
    text-align: center;
    width: 25%;
}

.furniture_assembly-block__undertable-text p {
    font: 20px /1.5 'Oranienbaum';
}

.undertable-text-button {
    border-radius: 25px;
    font-size: 25px;
    height: 50px;
    margin: 15px 0;
    width: 300px;
}

.furniture_assembly-block__footer li {
    font: 22px /1.5 'Oranienbaum';
    margin: 10px 0;
}

/* furniture_assembly end */

/* gift_cards */

.gift-cards-block {
    cursor: default;
    padding: 0;
}

.gift-cards-block__header-section {
    align-items: center;
    background: darkorange;
    border: thick double darkred;
    color: white;
    display: flex;
    font-size: 40px;
    justify-content: center;
    height: 100px;
    text-align: center;
    width: 100%;
}

.gift-cards-block__underheader {
    align-items: center;
    background: url(../imgs/gift-carts-bg-header.jpg) no-repeat;
    display: flex;
    filter: grayscale(1);
    justify-content: center;
    height: 400px;
}

.gift-cards-block__footer:hover,
.gift-cards-block__underheader:hover {
    filter: grayscale(0) drop-shadow(2px 4px 6px black);
}

.footer-card-info,
.underheader-card-info {
    background: white;
    border: 5px solid transparent;
    border-radius: 25px;
    display: inline-flex;
    opacity: .9;
    padding: 30px;
}

.footer-card-info:hover,
.underheader-card-info:hover {
    border: 5px solid #ff5441;
    opacity: 1;
}

.benefits-info {
    min-height: 650px;
    transform-style: preserve-3d;
    transition: .7s linear;
    width: 100%;
}

.benefits-info:target {
    transform: rotateX(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    min-height: inherit;
    backface-visibility: hidden;
}

.front {
    transform: rotateX(0deg);
}

.back {
    transform: rotateX(-180deg);
}

.benefits-front {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.benefits-front__item-content {
    padding: 15px;
    text-align: center;
}

@media (max-width: 767px) {
    .benefits-front__item-content img {
        height: 75px;
    }
}

.footer-card-button,
.benefits-transformation-button {
    border-radius: 25px;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.buying-steps-text > * {
    margin: 0 0 10px 0;
}

.benefits-back__buying-steps {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}

@media (max-width: 767px) {

    .benefits-back__buying-steps {
        flex-flow: column;
    }

    .buying-steps-item {
        display: flex;
        flex-flow: row;
        margin: 0 0 10px 0;
    }

    .buying-steps-item div {
        align-self: center;
        line-height: normal;
        width: 100%;
    }

    .buying-steps-numbers {
        font: 30px /40px serif!important;
        height: 40px!important;
        margin: 0!important;
        width: 40px!important;
    }

}

.buying-steps-numbers {
    background: #85ca43;
    border-radius: 50%;
    color: white;
    font: 60px /70px serif;
    height: 70px;
    margin: 20px auto 20px auto;
    width: 70px;
}

.info-control-button {
    border-radius: 25px;
    font-size: 30px;
    letter-spacing: 2px;
    width: 75%;
}

.gift-cards-block__info {
    margin: 20px auto 20px auto;
}

.info-section-heading {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.info-section-heading::after,
.info-section-heading::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 2px;
    margin: 2vw;
    vertical-align: middle;
    width: 10vw;
}

.info-section-content {
    display: flex;
}

.info-section-content__side {
    align-self: center;
    border: 2px solid transparent;
    border-radius: 50px;
    cursor: default;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: .6s;
    width: 50%;
}

.info-section-content__side:hover {
    background: rgba(255, 209, 0, 0.6);
    border: 2px solid darkred;
    transition: 1.2s;
}

.info-section-content__separator {
    background: black;
    content: "";
    margin: 10px 0 10px 0;
    width: 2px;
}

.gift-cards-block__footer {
    align-items: center;
    background: url(../imgs/gift-carts-bg-footer.jpeg) no-repeat;
    background-size: cover;
    display: flex;
    filter: grayscale(1);
    justify-content: center;
    height: 400px;
}

/* gift_cards end */

/* pd_processing_policy */

.pd-processing-policy__text h3 {
    margin: 20px auto;
    text-align: center;
}

.pd-processing-policy__text h5 {
    margin: 5px;
}

.pd-processing-policy__text p {
    text-indent: 20px;
}

/* pd_processing_policy end */

/* service */

.service-block-nav li {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    width: 25%;
}

.service-block-nav .nav-link:hover {
    border-radius: 25px;
    color: white;
    transition: .3s;
}
.service-block-nav .active {
    color: orangered!important;
    font-size: 40px;
}

.link-payment:hover {
    background: rgba(0, 0, 255, 0.51);
}

.link-delivery:hover {
    background: rgba(0, 128, 0, 0.51);
}

.link-return:hover {
    background: rgba(255, 165, 0, 0.51);
}

.link-terms:hover {
    background: rgba(255, 0, 0, 0.51);
}

.service-block-content li,
.service-block-content p {
    font: normal 20px /1.5 serif;
}

.delivery-block__table tr {
    text-align: center;
}

.delivery-block__table th {
    border: 3px solid;
    font: 22px /1.2 serif;
    height: 60px;
    vertical-align: middle;
}

.delivery-block__table td {
    border: 1px solid;
    font: 20px /1.2 serif;
    height: 40px;
    vertical-align: middle;
}

.payment-block a {
    font: 24px 'Bitter', serif;
}

.payment-block__links {
    border-radius: 25px;
    max-height: 250px;
    padding: 0;
    text-align: center;
    transition: .3s;
}

.payment-block__links:hover {
    box-shadow: 0 0 15px black;
    transition: .3s;
}

.payment-block__content {
    align-items: center;
    display: flex;
    min-height: 250px;
    padding: 20px 50px;
    text-indent: 20px;
}

/* service end */

/* social_discount */

.social-discount-block__header {
    height: 500px;
}

.social-discount-block__header img {
    border-radius: 10px;
    height: 500px;
    margin: auto;
}

.social-discount-block__text p {
    font: 22px 'Bitter', serif;
    text-align: center;
}

.social-discount-block__text ul,
.social-discount-block__text li {
    font: 22px 'Bitter', serif;
    margin: 20px;
}

/* social_discount end */
