
@font-face {
    font-family: Oranienbaum;
    src: url(../fonts/Oranienbaum-Regular.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../fonts/Vollkorn-Regular.ttf);
}

@font-face {
    font-family: Bitter, serif;
    src: url(../fonts/Bitter-Regular.ttf);
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, img, small, strike, strong, sub, sup, tt,
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, nav, section, mark {
    border: 0;
    color: black;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: 'Oranienbaum', serif;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: auto;
    min-height: 100vh;
}

body > * {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover,
a:hover > p,
a[class="stretched-link"]:hover ~ * {
    color: green;
    text-decoration: none;
}

span.ymaps-geolink {
    text-align: center;
    white-space: normal;
}

.header__primary-phone,
.footer__footer-phone {
    font-size: calc(30px + 10 * (100vw / 1920));
    line-height: .8;
}

.header__primary-phone:hover,
.footer__footer-phone:hover {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: animation_phone;
    cursor: pointer;
}

@keyframes animation_phone {

    0% {
        transform: scale(1);
    }
    30% {
        transform: scaleX(1.05) scaleY(.9);
    }
    40% {
        transform: scaleX(.9) scaleY(1.05);
    }
    60% {
        transform: scaleX(1.05) scaleY(.9);
    }
    100% {
        transform: scale(1);
    }

}

.header__primary,
.header__secondary {
    justify-content: space-around;
    margin: auto;
}

.header__primary .nav-item::before {
    background: #00043c;
    content: "";
    height: 3em;
    position: absolute;
    width: 1px;
}

.header__primary .nav-link {
    display: inline-flex;
    margin-left: .5vw;
    margin-right: .5vw;
    text-align: center;
    transition: all .2s linear;
}

.header__primary .nav-link:hover {
    color: green !important;
    transform: scale(1.1, 1.1);
    transition: all .2s linear;
}

.header__primary-nav-item-icon {
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 2em;
    width: 2em;
}

.i-about-co {
    background-image: url(../imgs/about_company.svg);
}

.i-ours-shops {
    background-image: url(../imgs/ours_shops.svg);
}

.i-optov {
    background-image: url(../imgs/optoviks.png);
}

.i-geolocation {
    background-image: url(../imgs/geolocation.svg);
}

.header__primary-nav-item-text {
    align-self: center;
    font: normal calc(12px + 10 * (100vw / 1920)) 'Bitter', serif;
    line-height: normal;
}

@media (min-width: 768px) {

    .logo_block {
        background: url(../imgs/logo.png) 50% no-repeat,
                    url(../imgs/logo-add-decor_before.svg) 20% no-repeat,
                    url(../imgs/logo-add-decor_after.svg) 80% no-repeat;
        background-size: 45%;
        content: "";
        height: 150px;
        position: relative;
        transition: .5s;
        width: 300px;
    }

    .logo_block:hover {
        background: url(../imgs/logo.png) 50% no-repeat;
        background-size: 80%;
        transition: .5s;
    }

}

@media (max-width: 767px) {

    .logo_block {
        background: url(../imgs/logo-inline.png) center no-repeat;
        background-size: 50%;
        content: "";
        height: 80px;
        margin: auto;
        position: relative;
        transition: .5s;
        width: 300px;
    }

    .logo_block:hover {
        background-size: 120%;
        transition: .5s;
    }

}

.auth-block {
    align-self: center;
    margin: auto;
    text-align: center;
}

@media (max-width: 767px) {

    .auth-block {
        margin-left: 0;
    }

}

.auth-block__list-group {
    align-items: center;
    display: flex;
}

.auth-block__list-group li:nth-child(1):hover {
    background: rgba(255, 0, 0, 0.30);
    border: 2px solid red;
}

.auth-block__list-group li:nth-child(2):hover {
    background: rgba(255, 165, 0, 0.30);
    border: 2px solid orange;
}

.auth-block__list-group li:nth-child(3):hover {
    background: rgba(144, 238, 144, 0.30);
    border: 2px solid lightgreen;
}

.auth-block__group-item {
    border: 2px solid transparent;
    border-radius: 25px;
    list-style: none;
    padding: 1vw;
}

.auth-block__list-item {
    align-items: center;
    display: inline-flex;
    min-width: 10vw;
}

.auth-block__icon {
    background: white no-repeat center;
    background-size: 50%;
    border: 1px solid black;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

@media (max-width: 767px) {

    .auth-block__icon {
        background: white no-repeat center;
        background-size: 50%;
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

}

.auth-block__icon:active {
    transform: scale(.7, .7);
}

.i-log-in {
    background-image: url(../imgs/log_in.svg);
}

.i-faq {
    background-image: url(../imgs/faq.svg);
}

.i-basket {
    background-image: url(../imgs/basket.svg);
}

.auth-block__text {
    align-self: center;
    font-size: calc(18px + 10 * (100vw / 1920));
    line-height: 1.2;
    margin-left: 15px;
}

.top_nav-toolbar {
    border-radius: 25px;
}

.top_nav__search-form {
    background: white;
    border-radius: 25px;
}

.top_nav__search-form_block {
    display: inline-flex;
    width: 100%;
}

.top_nav__search-form_block > div {
    margin: 0;
    width: 70%;
}

.top_nav__search-form_icon {
    background: no-repeat center;
    background-size: 50%;
    height: 50px;
    width: 10%;
}

.i-search-loupe {
    background-image: url(../imgs/search-loupe.png);
}

.top_nav {
    margin: auto;
}

.top_nav__search-form input {
    border: none;
    width: 100% !important;
}

.top_nav__search-form_button {
    background: #ed1a21;
    border: 5px solid white;
    border-radius: 25px;
    color: white;
    font-size: calc(18px + 10 * (100vw / 1920));
    width: 30%;
}

.top_nav__search-form_button:focus,
.top_nav__search-form_button:hover {
    background: #d30c00;
    color: white;
    outline: none !important;
}

.top_nav__after-search-icon {
    background: no-repeat center;
    background-size: 50%;
    height: 50px;
    width: 50px;
}

.i-sale {
    background-image: url(../imgs/sale.svg);
}

.i-summer {
    background-image: url(../imgs/summer.svg);
}

.i-health {
    background-image: url(../imgs/health.svg);
}

.i-delivery {
    background-image: url(../imgs/delivery.svg);
}

.top_nav__after-search-text {
    font-size: calc(12px + 10 * (100vw / 1920));
    line-height: 1;
    text-align: center;
}

.breadcrumb {
    font-size: calc(18px + 10 * (100vw / 1920));
}

.content-block {
    margin: 2vh auto;
}

.content-block__collapse-block {
    align-items: normal;
}

.products-block__categories {
    padding: 0;
}

.products-block__categories-link {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.51);
    font-size: calc(18px + 5 * (100vw / 1920));
    padding: 5px 2vw;
}

.products-block__categories-link:last-child {
    border: 0;
    font-size: calc(18px + 5 * (100vw / 1920));
}

.products-block__sections {
    background-color: #f8f9fa;
    border-radius: 0 25px 25px 0;
    display: flex;
    padding: 40px;
}

.products-block__sections ol > li {
    list-style: none;
    font: normal 600 22px Vollkorn, serif;
    margin: 20px 0 5px;
}

.products-block__sections ul > li {
    list-style: none;
    font: normal 18px Vollkorn, serif;
}

.products-block__carousel {
    align-self: center;
    height: 500px;
    width: 100%;
}

.products-block__carousel img {
    border-radius: 10px;
    height: 500px;
    object-fit: contain;
}

.products-block__carousel .carousel-indicators {
    background: radial-gradient(circle, rgb(134, 134, 134) 30%, rgba(0,0,0,0) 80%);
    bottom: -46px;
    padding: 10px;
}

.products-block__carousel .carousel-control-next-icon,
.products-block__carousel .carousel-control-prev-icon {
    background-color: black;
    padding: 40px 30px;
}

.products-block__carousel li {
    border: 2px solid black;
    margin: 0 10px!important;
    padding: 10px;
}

.products-block__content {
    columns: 3;
}

.product-block__top-block {
    display: flex;
    justify-content: space-around;
}

.top-block__image-container {
    align-self: center;
}

.top-block__image {
    height: 300px;
    object-fit: contain;
    transition: .5s;
    width: 30vw;
}

.top-block__image:hover {
    transform: scale(1.2);
    transition: 1s;
}

.top-block__title-container {
    align-items: center;
    display: flex;
    padding: 5vw;
    text-align: center;
}

.top-block__title {
    font: bold calc(30px + 10 * (100vw / 1920)) serif;
    max-width: 30vw;
}

.top-block__price-container {
    align-self: center;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    margin: 1vw;
    padding: 5%;
    text-align: center;
}

.item-in-cart {
    background: #ccff57;
}

.top-block__buy-button {
    border-radius: 25px;
    color: white;
    font-size: calc(22px + 10 * (100vw / 1920));
    padding: 5px 15px;
    white-space: nowrap;
}

.product-info__bottom-block {

}

.bottom-block__title {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.bottom-block__title::after,
.bottom-block__title::before {
    background-color: #7b7b7b;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 30%;
    white-space: nowrap;
}

.bottom-block__description {
    padding: 2vw 5vw;
}

.bottom-block__table {
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    width: 75%;
}

.bottom-block__table-row:nth-child(2n) {
    background: lightgrey;
}

.bottom-block__cell {
    border-bottom: 1px solid grey;
    font: normal calc(16px + 5 * (100vw / 1920)) 'Bitter', serif;
    padding: 10px 0;
    width: 50%;
}

.category-block {
    text-align: center;
    margin: auto;
}

.category-block__filter {

}

.filter__form {
    border: 2px solid rgba(0,123,255,.25);
}

.section-block__header {
    position: relative;
}

.section-block__body-subcategories {
    list-style: none;
}

.section-block__body-price {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.section-block__body-min-price,
.section-block__body-max-price {
    padding: 5px;
    border-radius: 50%;
    cursor: default;
    font-size: 25px;
    transition: .6s;
    width: 40%;
}

.section-block__body-min-price:hover,
.section-block__body-max-price:hover {
    border: 1px solid #3989c9;
    border-radius: 0;
}

.section-block__body-price > [data-tooltip] {
    position: relative;
}

.section-block__body-price > [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 300px;
    left: 0; top: 0;
    background: #3989c9;
    color: #fff;
    padding: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.section-block__body-price > [data-tooltip]:hover::after {
    opacity: 1;
    top: 2em;
}

.category-block__list {

}

.category-block__section-title {
    align-items: center;
    background: ghostwhite;
    display: flex;
    font-size: calc(25px + 5 * (100vw / 1920));
    justify-content: center;
    height: 50px;
    position: relative;
}

.category-block__title-show::before {
    top: 10px;
    content: "";
    height: 30px;
    left: 2vw;
    position: absolute;
    width: 60px;
    transition: .3s;
}

.category-block__title-show[aria-expanded*='false']::before {
    background: url(../imgs/arrow_down.png) no-repeat;
    background-size: 50%;
}

.category-block__title-show[aria-expanded*='true']::before {
    background: url(../imgs/arrow_up.png) no-repeat;
    background-size: 50%;
}

.category-block__list-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category-block__list-items {
    margin: 10px 1px;
    min-height: 400px;
    width: 24%;
}

.category-block__list-items:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.75);
}

.list-items__image-block {
    align-items: center;
    height: 50%;
    justify-content: center;
    display: flex;
    width: 100%;
}

.list-items__image {
    height: 150px;
    object-fit: contain;
}

.list-items__text-block {
    height: 50%;
}

.list-items__group {
    display: flex;
    flex-flow: column;
    height: 100%;
    list-style: none;
}

.list-items__group-item:first-child {
    font-size: calc(15px + 5 * (100vw / 1920));
    margin: auto;
    padding: 0 .5vw;
}

.list-items__group-item:last-child {
    border-top: 1px solid black;
    font-size: calc(20px + 5 * (100vw / 1920));
    margin-top: auto;
    transition: .3s;
}

.list-items__group-item:last-child:hover {
    background: #ffc107;
    transition: .6s;
}

.list-items__item-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.list-items__link:hover {
    color: black;
}

.list-items__price:hover {
    color: black!important;
}

.list-items__trash-image {
    height: 30px;
    vertical-align: sub;
}

.cart-block {
    display: flex;
    flex-wrap: wrap;
}

.cart-title {
    text-align: center;
    padding: 20px;
}

.cart-title__title {
    font-size: calc(35px + 10 * (100vw / 1920));
}

.cart-block__product {

}

.cart-block__list-product {
    list-style: none;
}

.cart-block__item {
    height: 200px;
}

.cart-item__block {
    align-items: center;
    border: 1px solid black;
    display: inline-flex;
    height: inherit;
    text-align: center;
    width: 100%;
}

.cart-item__image-block {
    width: 20%;
}

.cart-item__image {
    height: 150px;
}

.cart-item__image:hover {
    border: 3px double black;
    box-shadow: 10px 10px 50px 0 rgba(0,0,0,0.75);
    height: 40%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}


.cart-item__name {
    align-items: center;
    background: aliceblue;
    background-clip: border-box;
    display: flex;
    font-size: calc(20px + 10 * (100vw / 1920));
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    width: 35%;
}

.cart-item__numbers {
    padding: 0 5px;
    width: 20%;
}

.cart-block__button-block {
    margin: 20px 0;
    text-align: center;
}

.cart-item__numbers-button {
    align-self: center;
    background: #ed1a21;
    border-radius: 25px;
    color: white;
    font: normal calc(25px + 5 * (100vw / 1920)) Vollkorn;
    padding: 5px 15px;
}

.cart-item__numbers-value {
    font-size: calc(20px + 10 * (100vw / 1920));
    padding: 10px;
}

.cart-item__cost {
    font-size: calc(20px + 10 * (100vw / 1920));
    width: 15%;
}

.cart-item__delete {
    align-items: center;
    background: red;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 10%;
}

.cart-item__delete:hover {
    background: #ff7474;
}

.cart-item__delete-image {
    background-image: url(../imgs/icons_pack.png);
    background-position: -1218px -780px;
    height: 30px;
    width: 30px;
}

.cart-block__count {
    background: lavender;
    height: fit-content;
    position: sticky;
    top: 50px;
}

.cart-block__count-header {

}

.cart-block__count-warning {
    background: #6c757d;
    border-radius: 25px;
    color: white;
    font: normal calc(14px + 10 * (100vw / 1920)) 'Bitter', serif;
    padding: 10px;
    text-align: center;
}

.cart-block__count-body {

}

.cart-block__count-table {
    border-collapse: separate;
    border-spacing: 0 15px;
    font: normal calc(20px + 5 * (100vw / 1920)) Vollkorn;
    width: 100%;
}

.authentication {
    background: lightblue;
    border-radius: 25px;
    margin: 50px auto;
    padding: 2vw;
}

.authentication__nav-tabs {
    font: normal calc(26px + 10 * (100vw / 1920)) Vollkorn;
    text-align: center;
}

.authentication__tabs-item {
    background: aliceblue;
    width: 50%;
}

.authentication__content-block {
    margin: 20px 0;
}

.authentication__tabpanel {

}

.authentication__form-content {

}

.authentication__form-content label {
    font-size: 25px;
}

.authentication__form {

}

.authentication__button {
    background: khaki;
    border: 1px solid black;
    font-size: calc(30px + 10 * (100vw / 1920));
    transition: 1.2s;
    width: 100%;
}

.authentication__button:hover {
    background: gold;
    border-radius: 25px;
    letter-spacing: 5px;
}

.account {
    background: ghostwhite;
    margin: 50px auto;
    padding: 2vw;
}

.account__page-links,
.account__page-tabs {
    font-size: calc(15px + 15 * (100vw / 1920));
}

.account__unauthorized-block {
    margin: auto;
    padding: 50px;
}

.account__unauthorized-title {
    font-size: calc(40px + 10 * (100vw / 1920));
    text-align: center;
}

.promo-block {
    background-color: #dee2e6;
    border-radius: 25px;
    padding: 0;
}

.promo-block__table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

.promo-block__big-cell {
    border: 0;
    height: 700px;
    max-width: 50%;
    padding: 10px;
    vertical-align: middle;
}

.promo-block__big-cell:hover .promo-block__image {
    height: auto;
    max-height: 490px;
    object-fit: cover;
    object-position: center;
}

.promo-block__big-cell:hover div[class*='d-none'] {
    display: block !important;
    overflow: auto;
}

.promo-block__big-cell-text {
    background: white;
    border-radius: 25px;
    height: auto;
    margin-top: 10px;
    max-height: 180px;
    padding: 0 20px;
    text-overflow: ellipsis;
}

.promo-block__small-cell {
    border: 0;
    height: 350px;
    padding: 10px;
    vertical-align: middle;
    width: 25%;
}

.promo-block__image {
    border-radius: 25px;
    cursor: pointer;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    width: 100%;
}

.promo-block__small-cell:hover .promo-block__image {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: animation_promo;
    animation-timing-function: linear;
}

@keyframes animation_promo {

    0% {
        object-position: center;
    }
    25% {
        object-position: top;
    }
    50% {
        object-position: center;
    }
    75% {
        object-position: bottom;
    }
    100% {
        object-position: center;
    }

}

.recomendations-block {
    background: aliceblue;
    text-align: center;
}

.recomendations-block__title {
    background: aliceblue;
    padding: 10px 0;
    text-align: center;
}

.recomendations-block img {
    height: 200px;
    object-fit: contain;
}

.recomendations-container {
    display: flex;
    justify-content: center;
}

.recomendations-block__card {
    width: 20%;
}

.recomendations-promotions {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.promotions-block {
    overflow: hidden;
}

.promotions-block__image {

}

.info-block {
    margin: 0 auto;
}

.info-block__title {
    font-size: calc(35px + 10 * (100vw / 1920));
    margin: 20px auto;
    text-align: center;
}

.info-block__text {
    margin: auto;
    font-size: calc(15px + 10 * (100vw / 1920));
}

a#text_info_full::after,
a#text_info_full::before {
    background-color: #fc0;
    content: "";
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 20%;
}

.links-subscription-block {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 15px 0;
}

@media (max-width: 1150px) {
    .subscription-block:hover label {
        display: none;
    }
}

.links-block {
    display: flex;
    justify-content: center;
}

.links-block > div:hover {
    filter: brightness(110%);
}

.links-item {
    background-image: url(../imgs/icons_pack.png);
    height: 36px;
    margin-right: 5px;
    position: relative;
    width: 36px;
}

.links-item_fb {
    background-position: -1px -62px;
}

.links-item_vk {
    background-position: -40px -62px;
}

.links-item_in {
    background-position: -118px -62px;
}

.links-item_tw {
    background-position: -1px -101px;
}

.links-item-long {
    background-size: 100%;
    height: 36px;
    margin-right: 5px;
    position: relative;
    width: 115px;
}

.links-item_gp {
    background-image: url(../imgs/google-play.png);
}

.links-item_as {
    background-image: url(../imgs/app-store.png);
}

.subscription-block {
    align-items: center;
    display: flex;
    justify-content: center;
}

.subscription-block span {
    width: fit-content;
}

.subscription-block__form-block {
    border: 1px solid lightgrey;
    border-radius: 25px;
}

.subscription-block:hover div[class*='d-none'] {
    display: block !important;
}

@media (max-width: 1150px) {
    .subscription-block:hover label {
        display: none;
    }
}

.subscription-block__form-block input {
    border: none;
    padding: 0;
    width: 100% !important;
}

.subscription-button {
    background: #ed1a21;
    border: 3px solid transparent;
    border-radius: 25px;
    color: white;
    font: normal calc(25px + 5 * (100vw / 1920)) Vollkorn;
    padding: 5px 15px;
}

.subscription-button:focus,
.subscription-button:hover {
    background: #d30c00;
    color: white;
    outline: none !important;
}

.footer {
    margin: 0;
}

.footer a {
    font-family: 'Bitter', serif;
    padding: 2px;
    margin: 0;
}

@media (max-width: 991px) {
    .footer-license {
        background: white;
    }
}
