@import "styles.css";


a {
    color: #2026da;
}

a:hover {
    color: #ffc107;
}

.for_wholesalers-block {
    background: black;
    border-radius: 25px;
    cursor: default;
    margin-bottom: 20px;
    margin-top: 20px;
}

.for_wholesalers-block__header {
    animation: trans_map 30s linear infinite;
    animation-play-state: running;
    background-image: url(../imgs/for-wholesalers_header.jpg);
    background-position-y: -200px;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
}

@keyframes trans_map {

    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 325%;
    }

}

.for_wholesalers-block__header p {
    color: white;
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: black 0 0 10px;
}

.for_wholesalers-block h2 {
    align-items: center;
    background: white;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 2px;
    text-align: center;
}

.for_wholesalers-block__section {
    padding-bottom: 15px;
    padding-top: 15px;
}

.for_wholesalers-block__section .contact-button {
    border-radius: 25px;
    font-size: 20px;
    margin: 10px;
    width: inherit;
}

.for_wholesalers-form-block {
    background: white;
    display: flex;
    justify-content: center;
}

.for_wholesalers-form {
    background: #e9ecef;
    border-radius: 25px;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
}

.section-container {
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-item {
    background: white;
    box-sizing: border-box;
    display: block;
    padding: 40px;
    text-align: center;
    width: calc(50% - 1px);
}
