<!DOCTYPE html>


{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

  {% block title %}<title>AllHere интернет-магазин - over 9000 товаров по выгодным ценам</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
  <script src="//api-maps.yandex.ru/2.1/?apikey={{ API_KEY_YANDEX_GEOCODER }}&lang=ru_RU&load=Geolink"
          type="text/javascript"></script>

  {% block css-file %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>

<body>
<div class="container-fluid m-md-0 p-md-0">
  <!-- header -->
  <header class="header">
    <div class="header__primary d-none d-md-flex bg-light">
      <nav class="header__primary-nav navbar navbar-expand-lg navbar-light col-11">
        <a class="header__primary-phone navbar-brand" href="tel:+78001237788">
          8 (800) 123-77-88
        </a>
        <div class="navbar navbar-expand ml-auto d-none d-md-block p-0" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_index' %}">
                <i class="header__primary-nav-item-icon mr-lg-2 i-about-co"></i>
                <p class="header__primary-nav-item-text d-none d-lg-block">О компании</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_allhere_in_russia' 'all_shops' %}">
                <i class="header__primary-nav-item-icon mr-lg-2 i-ours-shops"></i>
                <p class="header__primary-nav-item-text d-none d-lg-block">Наши магазины</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'for_wholesalers' %}">
                <i class="header__primary-nav-item-icon mr-lg-2 i-optov"></i>
                <p class="header__primary-nav-item-text d-none d-lg-block">Юридическим лицам</p>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="header__primary-nav-item-icon mr-lg-2 i-geolocation"></i>
                <p class="header__primary-nav-item-text d-none d-md-block">Город</p>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Выберите свой город</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Город 1</a>
                <a class="dropdown-item" href="#">Город 2</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="header__secondary col-12 col-md-11">
      <div class="row">
        <div class="logo_block">
          <a class="stretched-link" href="{% url 'app_shop:index' %}"></a>
        </div>
        <div class="auth-block">
          <ul class="auth-block__list-group">
            <li class="auth-block__group-item">
              <a class="nav-link p-0" href="#">
                <figure class="auth-block__list-item">
                  <i class="auth-block__icon i-log-in"></i>
                  <div class="auth-block__text d-none d-md-block">
                    <p>Войти /<br> регистрация</p>
                  </div>
                </figure>
              </a>
            </li>
            <li class="auth-block__group-item d-none d-lg-block">
              <a class="nav-link p-0" href="{% url 'app_shop:main_sub_pages' 'faq_page' %}">
                <figure class="auth-block__list-item">
                  <i class="auth-block__icon i-faq"></i>
                  <div class="auth-block__text">
                    <p>Вопросы <br>и ответы</p>
                  </div>
                </figure>
              </a>
            </li>
            <li class="auth-block__group-item">
              <a class="nav-link p-0" href="{% url 'app_shop:cart' %}">
                <figure class="auth-block__list-item">
                  <i class="auth-block__icon i-basket"></i>
                  <div class="auth-block__text d-none d-md-block">
                    <p>Корзина</p>
                  </div>
                </figure>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->
  <!-- navigation -->
  <div class="top_nav col-12 col-md-11">
    <nav class="top_nav-toolbar navbar navbar-expand-lg navbar-light bg-light row">
      <ul class="navbar-nav align-items-center col-12 p-0">
        <li class="nav-item p-0 d-none d-lg-block col-lg-2">
          {% block list %}
            <p class="top-nav-toolbar__catalog-text text-center">КАТАЛОГ ТОВАРОВ</p>
          {% endblock %}
        </li>
        <li class="nav-item p-0 col-12 col-md-8 col-lg-5">
          <form class="top_nav__search-form form-inline" action="{% url 'app_shop:search' %}" method="post">
            <div class="top_nav__search-form_block">
              <i class="top_nav__search-form_icon i-search-loupe"></i>
              {% csrf_token %}
              {{ search_form.search_key|as_crispy_field }}
              <button type="submit" class="top_nav__search-form_button p-0">Найти</button>
            </div>
          </form>
        </li>
        <li class="nav-item p-0 col-6 col-md-4 col-lg-5">
          <div class="top_nav__after-search col-12 p-0 d-inline-flex justify-content-around">
            <figure class="d-inline-flex align-items-center position-relative">
              <a class="stretched-link" href="/sale"></a>
              <i class="top_nav__after-search-icon i-sale"></i>
              <p class="top_nav__after-search-text d-none d-xl-block">Распродажа</p>
            </figure>
            <figure class="d-inline-flex align-items-center position-relative">
              <a class="stretched-link" href="/summer"></a>
              <i class="top_nav__after-search-icon i-summer"></i>
              <p class="top_nav__after-search-text d-none d-xl-block">Лето</p>
            </figure>
            <figure class="d-inline-flex align-items-center position-relative">
              <a class="stretched-link" href="/health"></a>
              <i class="top_nav__after-search-icon i-health"></i>
              <p class="top_nav__after-search-text d-none d-xl-block">Будь здоров</p>
            </figure>
            <figure class="d-inline-flex align-items-center position-relative">
              <a class="stretched-link" href="/delivery"></a>
              <i class="top_nav__after-search-icon i-delivery"></i>
              <p class="top_nav__after-search-text d-none d-xl-block">Доставка продуктов</p>
            </figure>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <!-- navigation end -->
</div>
<!-- main -->
<main class="col-12 col-md-11 mx-auto p-0">
  {% block content %}
  {% endblock %}
</main>
<!-- main end -->
<!-- promotions -->
{% block promo %}
  <div class="promo-block col-12 col-md-11">
    <table class="promo-block__table">
      <tbody>
      <tr>
        <td class="promo-block__big-cell d-none d-lg-table-cell" rowspan="2" colspan="2">
          <img class="promo-block__image" src="{{ promotions_ordinary.0.images.url }}">
          <div class="promo-block__big-cell-text d-none">
            {{ promotions_ordinary.0.description|safe }}
          </div>
        </td>
        <td class="promo-block__small-cell">
          <img class="promo-block__image" src="{{ promotions_ordinary.1.images.url }}">
        </td>
        <td class="promo-block__small-cell">
          <img class="promo-block__image" src="{{ promotions_ordinary.2.images.url }}">
        </td>
      </tr>
      <tr>
        <td class="promo-block__small-cell">
          <img class="promo-block__image" src="{{ promotions_ordinary.3.images.url }}">
        </td>
        <td class="promo-block__small-cell">
          <img class="promo-block__image" src="{{ promotions_ordinary.4.images.url }}">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
<!-- promotions end -->
<!-- text info -->
{% block text-info %}
  <article class="info-block col-12 col-md-11">
    <section class="info-block__text col-12 col-lg-10 col-xl-8">
      <h1 class="info-block__title col-12 col-lg-10 col-xl-8 m-auto">Интернет-магазин AllHere</h1>
      <p>Интернет-магазин AllHere - ваш любимый магазин в формате онлайн!</p>
      <p>Заказывайте на allhere.ru, и мы доставим заказ прямо к вам домой или в ближайший магазин</p>
      <p>AllHere - не только в Москве, но и в других городах России.</p>
      <p>В нашем интернет-магазине вы найдёте широкий ассортимент товаров по заманчивой цене.</p>
      <p>Чтобы купить понравившиеся товары через интернет, добавьте их в корзину и выберите удобный способ доставки.</p>
      <p class="text-center">
        <a data-toggle="collapse" href="#collapse_text_info" id="text_info_full" role="button" aria-expanded="false"
           aria-controls="collapse_text_info">
          <i class="mx-3">Читать полностью</i></a>
      </p>
    </section>
    <section class="collapse" id="collapse_text_info">
      <ul class="my-2"><b>Для самых маленьких у нас есть:</b>
        <li>Смеси для беременных, на козьем молоке, специальные смеси</li>
        <li>Каши молочные, безмолочные, готовые</li>
        <li>Детские коляски, автокресла</li>
        <li>Товары для ухода влажные салфетки, ватная продукция, товары для купания, мыло детское, средства для тела и
          всё, что может пригодиться малышам и их мамам.</li>
      </ul>
      <ul class="my-2"><b>На allhere.ru вы также сможете заказать игрушки для детей всех возрастов.</b>
        <li>Игрушки для девочек Энчантималс, Lol, Barbie, Монстер хай, Винкс, Disney, Интерактивные куклы</li>
        <li>Игрушки для мальчиков Nerf, Hot Wheels, Наsbro, Dickie, Silverlit, роботы</li>
        <li>Пазлы Castorland, Step Puzzle, Educa, Trefl, Clementoni, Умная бумага, Ravensburger, Cobble Hill</li>
        <li>Настольные игры классические, детективные, ролевые, карточные, логические, викторины, головоломки, ходилки
        </li>
        <li>Конструкторы Lego, Playmobil, Mega Blocks, Bauer, Город мастеров, Шуша, Kribly Boo, Bunchems, Fanсlastik,
          Morphun</li>
      </ul>
      <p class="my-2">Ищете что-то для всей семьи? Вас ждёт множество товаров для дома: ёлочные украшения, свечи и
        подсвечники, рамки для фотографий, настольные подсвечники, одеяла, пледы, корзины, органайзеры для хранения,
        стаканы, наборы для напитков, настольные лампы декоративные, офисные лампы, ножи.
        Огромный выбор мебели: модульные кухни, диваны прямые, кресла для отдыха, офисные кресла, столы обеденные,
        письменные, компьютерные, доступен для заказа 24/7.</p>
      <ul class="my-2"><b>В нашем интернет-магазине представлена самая разнообразная бытовая техника:</b>
        <li>Крупная бытовая техника: холодильники, микроволновые печи, стиральные машины.</li>
        <li>Техника для дома: пылесосы, мультиварки, грили, кофемашины, чайники, блендеры, миксеры, обогреватели,
          кухонные весы, утюги.</li>
        <li>Техника для красоты и здоровья: электрические зубные щётки, напольные весы, фены, машинка для стрижки
          волос.</li>
        <li>Электроника: Экшн-камеры, мобильные телефоны, внешние аккумуляторы, сумки и рюкзаки для ноутбуков</li>
        И многое другое!
      </ul>
    </section>
  </article>
{% endblock %}
<!-- text info end -->
<!-- links&subscription -->
<div class="links-subscription-block justify-content-center justify-content-lg-between col-11">
  <div class="links-block my-2 my-md-0">
    <figure class="links-item links-item_fb">
      <a class="stretched-link" href="//www.facebook.com/"></a>
    </figure>
    <figure class="links-item links-item_vk">
      <a class="stretched-link" href="//vk.com/"></a>
    </figure>
    <figure class="links-item links-item_in">
      <a class="stretched-link" href="//www.instagram.com/"></a>
    </figure>
    <figure class="links-item links-item_tw">
      <a class="stretched-link" href="//twitter.com/"></a>
    </figure>
    <figure class="links-item-long links-item_gp">
      <a class="stretched-link" href="//play.google.com/store"></a>
    </figure>
    <figure class="links-item-long links-item_as">
      <a class="stretched-link" href="//www.apple.com/ru/ios/app-store/"></a>
    </figure>
  </div>
  <div class="subscription-block">
    <label class="text-center">
      <span class="d-none d-lg-block text-center mr-2">Не упусти выгодное предложение!</span>
      <span class="text-center mr-2">Подпишись на акции!</span>
    </label>
    <form class="subscription-block__form form-inline"
          action="{% url 'app_shop:subscription' %}?next={{ request.path }}" method="post">
      <div class="subscription-block__form-block d-flex">
        {% csrf_token %}
        {{ user_mail_form.user_mail|as_crispy_field }}
        <button type="submit" class="subscription-button">ПОДПИСАТЬСЯ</button>
      </div>
    </form>
  </div>
</div>
<!-- links&subscription end -->
<!-- footer -->
<footer class="footer mt-auto bg-light">
  <ul class="navbar-nav flex-column flex-lg-row justify-content-around col-10 p-0 mx-auto">
    <li class="nav-item flex-fill">
      <nav class="navbar navbar-expand-lg flex-row flex-lg-column navbar-light bg-light">
        <a class="navbar-brand" href="#">Личный кабинет</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPersonalArea"
                aria-controls="navbarPersonalArea" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarPersonalArea">
          <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Узнать статус заказа</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Мои данные</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Мои адреса</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">История заказов</a>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li class="nav-item flex-fill">
      <nav class="navbar navbar-expand-lg flex-row flex-lg-column navbar-light bg-light">
        <a class="navbar-brand" href="#">Онлайн магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOnlineShop"
                aria-controls="navbarOnlineShop" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarOnlineShop">
          <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'service' %}">Доставка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'service' %}">Оплата</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'service' %}">Возврат</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'faq_page' %}">Вопросы и ответы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_allhere_in_russia' 'feedback' %}">Обратная связь</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'allpay_app' %}">Мобильное приложение</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'furniture_assembly' %}">Услуга Сборки
                мебели</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Статьи</a>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li class="nav-item flex-fill">
      <nav class="navbar navbar-expand-lg flex-row flex-lg-column navbar-light bg-light">
        <a class="navbar-brand" href="#">AllHere для Вас</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAllHereForU"
                aria-controls="navbarAllHereForU" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAllHereForU">
          <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_allhere_in_russia' 'allhere_in_russia' %}">О
                компании</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:news' %}">Новости</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Доставка продуктов</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'social_discount' %}">Социальная скидка</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'gift_cards' %}">Подарочные карты</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'credit_card' %}">Кредитная карта</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_allhere_in_russia' 'allhere_garden' %}">Новые проекты
                AllHere</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Пресс-центр</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'pd_processing_policy' %}">Политика по
                обработке персональных данных</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'privacy_policy' %}">Политика
                конфиденциальности</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'allpay_terms_service' %}">Соглашения
                использования AllHere Pay</a>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li class="nav-item flex-fill">
      <nav class="navbar navbar-expand-lg flex-row flex-lg-column navbar-light bg-light">
        <a class="navbar-brand" href="#">Партнерам</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarForPartners"
                aria-controls="navbarForPartners" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarForPartners">
          <ul class="navbar-nav flex-column mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:subpage_allhere_in_russia' 'advantages' %}">Работа в
                AllHere</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Поставщикам</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 href="{% url 'app_shop:subpage_allhere_in_russia' 'tenants_and_landlords' %}">Аренда</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'app_shop:main_sub_pages' 'for_wholesalers' %}">Оптовикам</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Стоп коррупция</a>
            </li>
          </ul>
        </div>
      </nav>
    </li>
  </ul>
  <div class="footer-phone d-md-none bg-white text-center">
    <a class="navbar-brand footer__footer-phone m-4" href="tel:+78001237788">
      8 (800) 700-77-88
    </a>
  </div>
  <div class="footer-license">
    <p class="footer-license__link text-center col-10 mx-auto">© 2001-2020 ООО "AllHere". Все права защищены. "AllHere"
      является
      зарегистрированным товарным знаком Lalka Holding SA</p>
  </div>
</footer>
<!-- footer end -->
</body>
</html>
