{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | {{ object.name }}</title>{% endblock %}

{% block content %}
  <div class="product-block">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white my-0">
        <li class="breadcrumb-item"><a href="{% url 'app_shop:index' %}">Главная страница</a></li>
        {% for item in object.classification.get_parent %}
          {% if not forloop.last %}
            <li class="breadcrumb-item" aria-current="page"><a
                href="{% url 'app_shop:section_products' item.id %}">{{ item.name }}</a></li>
          {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
          {% endif %}
        {% endfor %}
      </ol>
    </nav>
    <hr>
    <div class="product-block__info-block col-12">
      <div class="product-block__top-block">
        <div class="top-block__image-container">
          <img class="top-block__image" src="{{ object.images.url }}" alt="{{ object.name }}">
        </div>
        <div class="top-block__title-container">
          <h2 class="top-block__title">{{ object.name }}</h2>
        </div>
        <div class="top-block__price-container">
          <p>{{ object.price }} &#8381; / шт</p>
          <p>В наличии:</p>
          {% if cart_products_list_id %}
            {% if object.id not in cart_products_list_id %}
              <a class="top-block__buy-button btn btn-success"
                 href="{% url 'app_shop:buy_product' object.id %}?next={{ request.path }}">В корзину</a>
            {% else %}
              <a class="top-block__buy-button btn btn-danger"
                 href="{% url 'app_shop:remove_product' object.id %}?next={{ request.path }}">Удалить из корзины</a>
            {% endif %}
          {% else %}
            <a class="top-block__buy-button btn btn-success"
               href="{% url 'app_shop:buy_product' object.id %}?next={{ request.path }}">В корзину</a>
          {% endif %}
        </div>
      </div>
      <div class="product-info__bottom-block">
        <div class="bottom-block__description-container">
          <h2 class="bottom-block__title">О товаре</h2>
          <div class="bottom-block__description">{{ object.description|safe }}</div>
        </div>
        <div class="bottom-block__characteristic-container">
          <h2 class="bottom-block__title">Характеристики</h2>
          {% if object.specifications %}
            <table class="bottom-block__table">
            {% for key, value in object.specifications.items %}
              <tr class="bottom-block__table-row">
                <td class="bottom-block__cell">{{ key }}</td>
                <td class="bottom-block__cell">{{ value }}</td>
              </tr>
            {% endfor %}
          {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block promo %}
  <div class="recomendations-block d-none d-sm-block col-12">
    {% if similiar_products %}
      <h2 class="recomendations-block__title">&laquo; Похожие товары &raquo;</h2>
      <div class="recomendations-container">
        {% for item in similiar_products %}
          <div class="recomendations-block__card card">
            <img src="{{ item.images.url }}" class="card-img-top" alt="{{ item.name }}">
            <a class="stretched-link" href="{% url 'app_shop:product_detail' item.slug %}"></a>
            <div class="card-body d-none d-md-block">
              <p class="card-text">{{ item.name }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if also_buy_products %}
      <h2 class="recomendations-block__title">&laquo; С этим товаром покупают &raquo;</h2>
      <div class="recomendations-container">
        {% for item in also_buy_products %}
          <div class="recomendations-block__card card">
            <img src="{{ item.product.images.url }}" class="card-img-top" alt="{{ item.product.name }}">
            <a class="stretched-link" href="{% url 'app_shop:product_detail' item.product.slug %}"></a>
            <div class="card-body d-none d-md-block">
              <p class="card-text">{{ item.product.name }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if promotions_for_detail_page %}
      <h2 class="recomendations-block__title d-none d-md-block">&laquo; Акции &raquo;</h2>
      <div class="recomendations-promotions d-none d-md-flex">
        {% for promo in promotions_for_detail_page %}
          <div class="promotions-block">
            <img class="promotions-block__image" src="{{ promo.images.url }}" alt="{{ promo.name }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block text-info %}
{% endblock %}
