{% extends "base_generic.html" %}


{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>AllHere интернет-магазин | {{ category.name }}</title>{% endblock %}

{% block content %}
  <div class="category-block col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white my-0">
        <li class="breadcrumb-item"><a href="{% url 'app_shop:index' %}">Главная страница</a></li>
        {% for item in category.get_parent %}
          {% if not forloop.last %}
            <li class="breadcrumb-item" aria-current="page"><a
                href="{% url 'app_shop:section_products' item.id %}">{{ item.name }}</a></li>
          {% else %}
            <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
          {% endif %}
        {% endfor %}
        {% if request.resolver_match.url_name == 'section_products' %}
          <li class="ml-auto">
            <div class="btn-group">
              <button type="button" class="sorted-button btn btn-danger dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">Отсортировать по цене
              </button>
              <div class="sorted-button__item-block dropdown-menu">
                <a class="sorted-button__item dropdown-item"
                   href="{% url 'app_shop:section_products' category.id %}?sorted=cheaper">Сначало дешевле</a>
                <div class="dropdown-divider"></div>
                <a class="sorted-button__item dropdown-item"
                   href="{% url 'app_shop:section_products' category.id %}?sorted=expensive">Сначало дороже</a>
              </div>
            </div>
          </li>
        {% endif %}
      </ol>
    </nav>
    <hr>
    <div class="row">
      <div class="category-block__filter filter col-12 col-md-4 col-lg-3">
        <form class="filter__form" action="{% url 'app_shop:filtration' category.id %}" method="get">
          <!-- Subcategories list -->
          {% if category.get_child %}
            <div class="filter__section-block section-block card">
              <div class="section-block__header">
                <a class="stretched-link" data-toggle="collapse" href="#collapseSubcategories" role="button"
                   aria-expanded="true" aria-controls="collapseSubcategories">
                  Подкатегории
                </a>
              </div>
              <div class="section-block__body collapse" id="collapseSubcategories">
                <ul class="section-block__body-subcategories">
                  {% for item in category.get_child %}
                    <li><a href="{% url 'app_shop:section_products' item.id %}">{{ item.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          <!-- Subcategories list end -->
          <!-- Price filter -->
          <div class="filter__section-block section-block card">
            <div class="section-block__header">
              <a class="stretched-link" data-toggle="collapse" href="#collapsePrice" role="button"
                 aria-expanded="true" aria-controls="collapsePrice">
                <label for="PriceRange">Укажите максимальную границу цены</label>
              </a>
            </div>
            <div class="section-block__body collapse show" id="collapsePrice">
              {{ price_form|crispy }}
              <div class="section-block__values">
                <span class="section-block__min-value"
                      data-tooltip="Минимальная цена среди товаров данной категории">{{ price_values.price__min }}
                  &#8381;</span>
                <span class="section-block__max-value"
                      data-tooltip="Максимальная цена среди товаров данной категории">{{ price_values.price__max }}
                  &#8381;</span>
              </div>
            </div>
          </div>
          <!-- Price filter end -->
          <!-- Variable filters -->
          {% for item in variable_filters_form %}
            <div class="filter__section-block section-block card">
              <div class="section-block__header">
                <a class="stretched-link" data-toggle="collapse" href="#collapse{{ item.field.slug|capfirst }}"
                   role="button"
                   aria-expanded="true" aria-controls="collapse{{ item.field.slug|capfirst }}">
                  {{ item.field.label }}
                </a>
              </div>
              <div
                  class="section-block__body collapse {% if item.label in variable_filters_form.changed_data %}show{% endif %}"
                  id="collapse{{ item.field.slug|capfirst }}">
                {{ item|as_crispy_field }}
                {% if item.field.type == "INT" %}
                  <div class="section-block__values">
                    <span class="section-block__min-value"
                          data-tooltip="Минимальное значение среди товаров данной категории">{{ item.field.min_value }}</span>
                    <span class="section-block__max-value"
                          data-tooltip="Максимальное значение среди товаров данной категории">{{ item.field.max_value }}</span>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <!-- Variable filters end -->
          <button class="filter__submit-button" type="submit">Отфильтровать</button>
        </form>
      </div>
      <div class="category-block__list col-12 col-md-8 col-lg-9">
        {% if category_list %}
          {% for category in category_list %}
            <div class="category-block__section-title {% if category.get_current_discount %}bg-success{% endif %}">
              <a class="category-block__title-show" data-toggle="collapse" href="#collapse{{ category.id }}"
                 aria-expanded="true" aria-controls="collapse{{ category.id }}">
              </a>
              <a {% if category.get_current_discount %}class="text-white"{% endif %} href="{% url 'app_shop:section_products' category.id %}">{{ category.name }}</a>
              {% if category.get_current_discount %}
                <div class="category-block__title-discount title-discount">
                  <p class="title-discount__text">Скидка - {{ category.get_current_discount }}</p>
                </div>
              {% endif %}
            </div>
            <div class="collapse show" id="collapse{{ category.id }}">
              <div class="category-block__list-section">
                {% for object in object_list %}
                  {% if object.classification_id == category.id %}
                    <div class="category-block__list-items list-items card">
                      <div class="list-items__image-block">
                        <img src="{{ object.images.url }}" class="list-items__image card-img-top"
                             alt="{{ object.name }}">
                      </div>
                      <div class="list-items__text-block">
                        <ul class="list-items__group">
                          <li class="list-items__group-item">
                            <a href="{% url 'app_shop:product_detail' object.slug %}">{{ object.name }}</a></li>
                          {% if object.id in cart_products_list_id %}
                            <li class="list-items__group-item">
                              <div class="list-items__item-container item-in-cart">
                                <a class="list-items__link stretched-link"
                                   href="{% url 'app_shop:remove_product' object.id %}?next={{ request.path }}"></a>
                                <p class="list-items__price">{{ object.get_current_prices }} &#8381;</p>
                                <span>удалить
                                  <img class="list-items__trash-image" src="{% static 'imgs/trash.png' %}" alt="trash">
                                </span>
                              </div>
                            </li>
                          {% else %}
                            <li class="list-items__group-item">
                              <div class="list-items__item-container">
                                <a class="list-items__link stretched-link"
                                   href="{% url 'app_shop:buy_product' object.id %}?next={{ request.path }}"></a>
                                <p class="list-items__price">{{ object.get_current_prices }} &#8381;</p>
                                <div class="list-items__item-container">
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block promo %}
  <div class="recomendations-block d-none d-sm-block col-12">
    {% if promotions_for_category_page %}
      <h2 class="recomendations-block__title d-none d-md-block">&laquo; Акции &raquo;</h2>
      <div class="recomendations-promotions d-none d-md-flex">
        {% for promo in promotions_for_category_page %}
          <div class="promotions-block">
            <img class="promotions-block__image" src="{{ promo.images.url }}" alt="{{ promo.name }}">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block text-info %}
{% endblock %}
