{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | Соглашения использования AllHere Pay</title>{% endblock %}

{% block css-file %}
<link rel="stylesheet" href="{% static 'css/styles_main_subpages.css' %}">
{% endblock %}

{% block content %}
<div class="allpay-terms-block m-auto col-11">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white m-0">
      <li class="breadcrumb-item"><a href="{% url 'app_shop:main_sub_pages' %}">Главная страница</a></li>
      <li class="breadcrumb-item active" aria-current="page">Соглашения использования AllHere Pay</li>
    </ol>
  </nav>
  <hr>
  <article class="allpay-terms__text">
    <section class="text-center my-3">
      <h3>Соглашение об использовании AllHere Pay* (далее - “Соглашение”)</h3>
      <p>(версия от 1 августа 2020 года)</p>
    </section>
    <section>
      <h4>ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</h4>
      <p><b>ООО “AllHere” (далее - “AllHere”)</b> - юридическое лицо, имеющее следующие реквизиты: ОГРН 1027739329408, ИНН 7703270067, КПП 997150001,
        юридический адрес: <span class="ymaps-geolink">Российская Федерация, 141014, Московская область, городской округ Мытищи, город Мытищи, Осташковское шоссе, д.1</span>.
        ООО “AllHere” не является оператором по переводу денежных средств и не оказывает платежные услуги.</p>
      <p><b>AllHere Pay</b> - сервис в мобильном приложении AllHere и на сайте <a href="{% url 'app_shop:main_sub_pages' %}">allhere.ru</a>, который отражает
        баланс Клиента, предназначенный для оплаты Клиентом товаров/услуг AllHere. На балансе AllHere Pay отражаются суммы аванса в рублях, внесенного
        Клиентом на расчетный счет AllHere, а также суммы начисленного Клиенту Кэшбэк. AllHere Pay активируется после регистрации Клиента в мобильном
        приложении AllHere, при условии принятия Клиентом условий данного Соглашения, ознакомления и согласия с Политикой конфиденциальности и
        Политикой обработки персональных данных.</p>
      <p><b>Клиент</b> - дееспособное физическое лицо, имеющее право совершать сделки по приобретению товаров/услуг AllHere и использующее сервис
        AllHere Pay.</p>
      <p><b>Cashback** (далее - “Кэшбэк”)</b> - это поощрение Клиента за Квалифицированные операции, в виде обязательства AllHere по оплате за Клиента
        стоимости товаров/услуг AllHere на определенную сумму денежных средств, отражаемых на балансе AllHere Pay, которые Клиент вправе использовать
        в соответствии с настоящим Соглашением. Сумма предоставленного Кэшбэк рассчитывается и отражается на балансе AllHere Pay в соответствии с
        условиями отдельных Акций, инициированных AllHere.</p>
      <p><b>Акция Cashback (далее также - “Акция Кэшбэк” или “Акция”)</b> - это маркетинговая кампания, проводимая AllHere, в рамках которой
        устанавливаются определенные правила предоставления Кэшбэк (см. Раздел 6 настоящего Соглашения). Правила Акций Кэшбэк размещаются в мобильном
        приложении AllHere и/или на сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a> не позднее, чем за 1 рабочий день до даты начала
        Акции.</p>
      <p><b>Участник Акции Кэшбэк</b> - это Клиент, который может участвовать в отдельно взятой Акции Кэшбэк и получать Кэшбэк при соблюдении правил
        данной Акции.</p>
      <p><b>Служба поддержки клиентов</b> - внутренняя служба AllHere, отвечающая за работу с клиентами. Номер телефона: 8 800 700 58 00, время
        работы: ежедневно, круглосуточно.</p>
      <p><b>Квалифицированная операция</b> - операция, совершаемая Клиентом, при совершении которой может начисляться Кэшбэк. Описание
        Квалифицированных операций содержится в п. 6.1 настоящего Соглашения.</p>
      <p><b>Отчетный период</b> – календарный месяц, в течение которого совершаются Квалифицированные операции.</p>
    </section>
    <section>
      <h4>1. Общие положения</h4>
      <ol>
        <li>Настоящее Соглашение является публичной офертой (ст. 437 ГК РФ), соглашаясь с которой в мобильном приложении AllHere или на сайте
          www.allhere.ru, физическое лицо подтверждает свое полное согласие с условиями настоящего Соглашения, а также подтверждает ознакомление и
          полное согласие с Политикой конфиденциальности и Политикой обработки персональных данных, являющимися неотъемлемой частью настоящего
          Соглашения.</li>
        <li>Настоящее Соглашение содержит порядок использования Клиентами сервиса AllHere Pay, а также общий порядок расчета, начисления и
          использования Кэшбэк.</li>
        <li>Сервис AllHere Pay может использоваться Клиентами для оплаты товаров/услуг в розничных магазинах AllHere, в мобильном приложении
          AllHere, а также в интернет-магазине AllHere по адресу <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>.</li>
      </ol>
    </section>
    <section>
      <h4>2. Общие условия использования AllHere Pay</h4>
      <ol>
        <li>AllHere Pay не является банковским продуктом.</li>
        <li>Денежная сумма, отражаемая на балансе AllHere Pay, является суммой предварительной оплаты товаров/услуг AllHere Клиентом исключительно в
          розничных магазинах AllHere, в мобильном приложении AllHere, а также в интернет-магазине AllHere по адресу
          <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>, включая сумму начисленного Клиенту Кэшбэк (авансом на расчетном счете AllHere).
          Указанные денежные суммы не подразумевают начисление процентов или дивидендов.</li>
        <li>Оплата покупки с использованием сервиса AllHere Pay подразумевает возможность частичного или полного использования баланса AllHere
          Pay.</li>
      </ol>
    </section>
    <section>
      <h4>3. Отражение денежных средств на балансе AllHere Pay</h4>
      <ol>
        <li>Внесение Клиентом авансов на будущие покупки товаров/услуг AllHere в рублях на расчетный счет AllHere и последующее их отражение на
          балансе AllHere Pay осуществляется с использованием банковских карт. Минимальная сумма для внесения составляет 500 (пятьсот) российских
          рублей, максимальная сумма внесения, а также максимальный единовременный баланс AllHere Pay составляет 15 000 (пятнадцать тысяч) российских
          рублей.</li>
        <li>AllHere оставляет за собой право изменять минимальный лимит внесения денежных средств и/или максимальный лимит единовременного баланса
          AllHere Pay в любое время, уведомив об этом Клиентов в мобильном приложении или на официальном сайте AllHere
          <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>, а также путем внесения изменений в данное Соглашение.</li>
        <li>В процессе регистрации своей банковской карты в мобильном приложении AllHere или на сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>
          Клиент несет полную ответственность за правильность указания фамилии и имени держателя карты, номера своей банковской карты, даты истечения
          срока её действия, суммы денежных средств, переводимых в качестве авансов на будущие покупки товаров/услуг AllHere на расчетный счет
          AllHere.</li>
        <li>AllHere не осуществляет переводы денежных средств и не оказывает каких-либо банковских услуг, всю ответственность за правильность
          осуществления перевода несет Клиент и банк-эмитент карты Клиента.</li>
        <li>AllHere не взимает плату за пополнение баланса AllHere Pay с соответствии с условиями настоящего раздела Соглашения. Комиссия за перевод
          денежных средств с банковской карты Клиента на расчетный счет AllHere может взиматься банком-эмитентом банковской карты Клиента по его
          тарифам и правилам.</li>
        <li>AllHere не несет ответственности перед Клиентом за задержки или перебои в отражении денежных средств на балансе AllHere Pay, а также в
          случае отмены пополнения баланса AllHere Pay, если это обусловлено сбоем в работе технических платформ и транспортных сетей или сетей связи,
          в возникновении которых нет вины AllHere.</li>
        <li>В случае возникновения каких-либо вопросов Клиент может связаться со Службой поддержки клиентов.</li>
      </ol>
    </section>
    <section>
      <h4>4. Плата за использование AllHere Pay</h4>
      <p>AllHere не взимает комиссию за использование Клиентом AllHere Pay в соответствии с условиями настоящего Соглашения.</p>
    </section>
    <section>
      <h4>5. Возврат денежных средств в случае возврата товаров/услуг</h4>
      <p>В случае, если Клиент осуществляет возврат товаров/услуг, оплаченных с использованием сервиса AllHere Pay, денежные средства будут
        возвращены Клиенту путем их отражения на балансе AllHere Pay.</p>
      <p>В случае, если в момент осуществления Клиентом возврата товаров/услуг, оплаченных с использованием сервиса AllHere Pay, Клиент не
        является пользователем сервиса AllHere Pay, денежные средства будут возвращены Клиенту на банковскую карту Клиента при поступлении от него
        соответствующего заявления, предоставленного через форму обратной связи в мобильном приложении AllHere, а также по телефону Службы поддержки
        клиентов</p>
    </section>
    <section>
      <h4>6. Начисление Кэшбэк и отражение его на балансе AllHere Pay</h4>
      <ol>
        <li>Следующие операции Клиентов являются Квалифицированными:
          <ul class="m-2">
            <li>Покупка товаров/услуг в розничном магазине AllHere;</li>
            <li>Покупка товаров/услуг в интернет-магазине AllHere через мобильное приложение AllHere;</li>
            <li>Покупка товаров/услуг в интернет-магазине AllHere на сайте <a href="{% url 'app_shop:main_sub_pages' %}">allhere.ru</a> (далее все вместе -
              “Покупки”)</li>
            <li>Регистрация в мобильном приложении AllHere;</li>
            <li>Пополнение баланса AllHere Pay с помощью банковской карты в соответствии с разделом 3 настоящего Соглашения;</li>
            <li>Иная операция, указанная AllHere в соответствии с условиями настоящего Соглашения.</li>
          </ul>
        </li>
        <li>Кэшбэк начисляется за совершение Клиентом Покупок, оплаченных с использованием:
          <ul class="m-2">
            <li>Сервиса AllHere Pay;</li>
            <li>Банковской карты Клиента;</li>
            <li>Подарочной карты AllHere;</li>
            <li>Наличных денежных средств.</li>
          </ul>
        </li>
        <li>Начисление Кэшбэк за Квалифицированные операции осуществляется в рамках Акций Кэшбэк. В рамках каждой Акции устанавливаются правила
          проведения Акции, которые включают в себя: название Акции, срок Акции, тип Квалифицированной операции, по которой начисляется Кэшбэк,
          условия по Квалифицированной операции, ограничения по Кэшбэк, а также другие условия. Правила Акций Кэшбэк будут размещаться и будут
          доступны для Клиентов в мобильном приложении AllHere и/или на сайте AllHere <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>.</li>
        <li>Отражение Кэшбэк на балансе AllHere Pay осуществляется в течение 24 часов после совершения Клиентом Квалифицированной операции. При
          совершении Покупки в интернет-магазине AllHere (через мобильное приложение или на сайте
          <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>) или при оплате любой Покупки банковской картой, а также в случае технических сбоев,
          начисление Кэшбэк может быть осуществлено в течение более длительного срока, но не позднее окончания текущего Отчетного периода, если
          указанное действие произошло не позднее трех рабочих дней до даты окончания текущего Отчетного периода, или не позднее окончания следующего
          Отчетного периода, если указанное действие произошло за три и менее рабочих дней до окончания текущего Отчетного периода.</li>
        <li>Кэшбэк может быть использован Клиентами в пределах размера баланса AllHere Pay только на оплату товаров/услуг AllHere в соответствии с
          настоящим Соглашением.</li>
        <li>В случае, если Клиент прекращает использование сервиса AllHere Pay, сумма Кэшбэк не подлежит перечислению Клиенту на банковскую карту
          и/или не подлежит выдаче наличными денежными средствами.</li>
        <li>AllHere оставляет за собой право уменьшить баланс AllHere Pay Клиента на сумму ранее начисленного Кэшбэк по своему усмотрению в случае
          обнаружения признаков недобросовестных действий Клиента в целях получения повышенных сумм Кэшбэк, а также для минимизации возможных убытков
          в случае, когда действия Клиента в явном виде направлены на причинение ущерба AllHere.</li>
        <li>AllHere вправе направлять персонализированные предложения участия в Акциях Клиентам. Условия участия Клиентов в таких Акциях будут
          размещаться в мобильном приложении AllHere у таких Участников.</li>
        <li>Кэшбэк не облагается НДФЛ для Клиентов (статья 217 Налогового кодекса РФ).</li>
        <li>Если иное не установлено настоящим Соглашением и правилами Акций, максимальная сумма Кэшбэк, которая может быть отражена на балансе
          AllHere Pay у одного Клиента за Отчетный период, составляет 1000 рублей.</li>
      </ol>
    </section>
    <section>
      <h4>7. Ответственность за операции с использованием AllHere Pay</h4>
      <p>Клиент самостоятельно несет ответственность за все операции, совершенные им по балансу AllHere Pay.</p>
    </section>
    <section>
      <h4>8. Внесение изменений в Соглашение</h4>
      <p>AllHere вправе в одностороннем порядке вносить изменения в условия настоящего Соглашения в любое время.</p>
      <p>Все изменения условий настоящего Соглашения публикуются на официальном сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>. Любые
        изменения настоящего Соглашения, опубликованные на сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>, вступают силу через 10
        календарных дней с момента их публикации.</p>
      <p>Если не установлено иное, изменения и дополнения, внесенные в настоящее Соглашение, действительны как для существующих, так и для будущих
        Клиентов.</p>
    </section>
    <section>
      <h4>9. Прекращение действия настоящего Соглашения</h4>
      <p>AllHere вправе приостановить или прекратить действие настоящего Соглашения в одностороннем порядке, без выплаты Клиентам какой-либо
        компенсации, в любое время, предварительно уведомив Клиентов путем публикации соответствующего уведомления на официальном сайте AllHere
        <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a> за 10 календарных дней до срока приостановления или прекращения действия Соглашения.
      </p>
      <p>В случае прекращения действия настоящего Соглашения по основаниям, изложенным в настоящем разделе Соглашения, все денежные средства,
        отраженные на балансе AllHere Pay, будут возвращены Клиенту <a href="{% url 'app_shop:main_sub_pages' 'service' %}">в соответствии с
          условиями, размещенными на официальном сайте AllHere www.allhere.ru.</a></p>
      <hr>
      <p>* Pay в переводе с английского языка означает “оплачивать”.</p>
      <p>** Cashback в переводе с английского языка означает “возврат денежных средств”.</p>
    </section>
    <hr>
  </article>
</div>
{% endblock %}

{% block text-info %}
{% endblock %}
