{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | Часто задаваемые вопросы</title>{% endblock %}

{% block css-file %}
<link rel="stylesheet" href="{% static 'css/styles_main_subpages.css' %}">
{% endblock %}

{% block content %}
<div class="faq-block m-auto col-11">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white m-0">
      <li class="breadcrumb-item"><a href="{% url 'app_shop:index' %}">Главная страница</a></li>
      <li class="breadcrumb-item active" aria-current="page">Часто задаваемые вопросы</li>
    </ol>
  </nav>
  <div class="faq-block__text">
    <h2 class="mb-1">Часто задаваемые вопросы</h2>
    <p class="text-danger mt-2">1.Как сделать заказ?</p>
    <p>Вам необходимо добавить выбранные товары в корзину, перейдите на страницу Моя корзина и нажмите кнопку
      «Оформить» в верхнем правом углу. Если Вы в первый раз делаете заказ на нашем сайте – Вам необходимо
      зарегистрироваться.
      Введите Ваши данные в поля, отмеченные звездочкой и нажмите кнопку «Зарегистрироваться»</p>
    <p class="text-danger mt-2">2. Как войти в Личный кабинет?</p>
    <p>Чтобы войти в Личный кабинет, кликните по ссылке «Вход» в правом верхнем углу страницы и заполните форму
      авторизации: укажите либо свой адрес электронной почты и пароль, либо номер клиента и дату рождения. После входа
      в Личный кабинет вы сможете увидеть свою историю заказов, отправки посылок и другие клиентские данные.</p>
    <p class="text-danger mt-2">3. Если Вы забыли пароль</p>
    <p>Воспользуйтесь формой восстановления пароля, введите e-mail, указанный при регистрации и на Ваш электронный
      адрес придет письмо с паролем</p>
    <p class="text-danger mt-2">4. Как изменить данные, указанные при регистрации на сайте?</p>
    <p>Изменить свои данные Вы можете в Личном кабинете во вкладке «Информация об учетной записи пользователя»</p>
    <p class="text-danger mt-2">5. Могу ли я повторить заказ, который делал </p>
    <p>Да, в Личном кабинете войдите во вкладку «Панель управления», Вы увидите список всех заказов. Справа от заказа
      нажмите кнопку «Повторный заказ». Внимание: цена на товар может измениться со временем.</p>
    <p class="text-danger mt-2">6. Как я могу узнать, где мой заказ?</p>
    <p>Узнать статус заказа можно в личном кабинете, в разделе «Мои заказы». Если Вы видите, что статус заказа не
      меняется длительное время – пожалуйста, позвоните нам по телефону <a href="tel:+88007005800">8-800-700-5-800</a>.
      Будьте готовы назвать свой
      номер заказа. А также написать на адрес <a href="mailto:client.question@allhere.ru">client.question@auchan.ru</a>,
      указав номер заказа.</p>
    <p class="text-danger mt-2">7. Как я могу отредактировать свой заказ?</p>
    <p>Оформленный заказ можно отредактировать только в том случае, если он еще не подтвержден оператором. Если заказ
      подтвержден, внести в него изменения невозможно, на дополнительные товары необходимо оформить новый заказ.</p>
    <p class="text-danger mt-2">8. Как я могу аннулировать заказ?</p>
    <p>Для аннуляции заказа напишите нам на почту <a
            href="mailto:client.question@allhere.ru">client.question@auchan.ru</a> или позвоните по телефону <a
            href="tel:+88007005800">8-800-700-5-800</a>.
      Если заказ был оплачен онлайн, то денежные средства будут возвращены Вам на карту в течение 10 дней.</p>
    <p class="text-danger mt-2">9. Могу ли я восстановить аннулированный заказ?</p>
    <p>Отмененный заказ восстановить нельзя. Если все необходимые Вам товары есть в наличии, нужно оформить новый
      заказ.
      Если Вам нужна консультация по подбору аналогичных товаров, позвоните нам <a href="tel:+88007005800">8-800-700-5-800</a>
    </p>
    <p class="text-danger mt-2">10. Доставка возможна по всей России?</p>
    <p>Да, доставка заказов осуществляется по всей территории России, однако не во всех регионах доступны все методы
      доставки. При оформлении заказа Вам будет предложено выбрать наиболее удобный способ доставки из доступных для
      вашего региона.</p>
    <p class="text-danger mt-2">11. Как я узнаю, что заказ поступил в магазин?</p>
    <p>Сотрудник магазина Ашан обязательно свяжется с Вами при поступлении заказа</p>
    <p class="text-danger mt-2">12. Что мне делать, если товар не поступил в указанную в заказе дату?</p>
    <p>Напишите нам на почту <a href="mailto:client.question@allhere.ru">client.question@auchan.ru</a></p>
    <p class="text-danger mt-2">13. Можно ли обменять товар, если вещь не подошла по размеру?</p>
    <p>Обмен товара не предусмотрен. Вы можете сделать новый заказ, а не подошедший по тем или иным причинам товар
      вернуть в ближайший магазин Ашан. Мы вернем Вам деньги за не подошедший товар, за исключением стоимости
      доставки.</p>
    <p class="text-danger mt-2">14. Могу ли я объединить доставку нескольких заказов и получить их в один день?</p>
    <p>Если заказ еще не был подготовлен к отгрузке и не был отправлен в магазин или по адресу, то можно. Для этого
      напишите нам на почту <a href="mailto:client.question@allhere.ru">client.question@auchan.ru</a> или позвоните по
      телефону <a href="tel:+88007005800">8-800-700-5-800</a></p>
    <p class="text-danger mt-2">15. Каков срок доставки заказ?</p>
    <p>Срок доставки зависит от Вашего региона, выбранного способа доставки, наличия товара на складе в России ; более
      точные сроки вы можете узнать в разделе «Доставка». Если вы не согласны со сроками доставки, вы вправе
      отказаться
      от своего заказа в любое время до его получения.</p>
    <p class="text-danger mt-2">16. Почему доставка в магазин платная?</p>
    <p>Заказанный вами товар поступает на Пункт Обслуживания Клиентов (ПОК) не из торгового зала магазина, где вы
      забираете заказ, а с собственного склада AllHere.ru. Таким образом, наличие платной услуги доставки в магазин
      обусловлено необходимостью сборки, отгрузки и доставки заказа с внешнего склада до выбранного вами магазина.</p>
  </div>
  <hr>
</div>
{% endblock %}

{% block text-info %}
{% endblock %}
