{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | Услуга Сборки мебели</title>{% endblock %}

{% block css-file %}
<link rel="stylesheet" href="{% static 'css/styles_main_subpages.css' %}">
{% endblock %}

{% block content %}
<div class="furniture_assembly-block m-auto col-11">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white m-0">
      <li class="breadcrumb-item"><a href="{% url 'app_shop:index' %}">Главная страница</a></li>
      <li class="breadcrumb-item active" aria-current="page">Услуга Сборки мебели</li>
    </ol>
  </nav>
  <hr>
  <div class="furniture_assembly-block__header">
  </div>
  <hr>
  <div class="furniture_assembly-block__text">
    <p>Несмотря на кажущуюся простоту, <b>сборка мебели</b> достаточно сложный процесс, требующий соответствующей подготовки и
      определенный опыт. Поэтому мы не рекомендуем собирать мебель самостоятельно, а доверить это дело
      профессионалам.</p>
    <p>Наши специалисты <b>профессионально подготовлены</b>, оснащены <b>профессиональным оборудованием и инструментами, обладают
      знаниями</b> о технологических особенностях изготовления мебели различных мебельных фабрик, о свойствах материалов и
      конструкций, особенностях фурнитуры, приемах обработки, последовательности монтажа и т. п.</p>
    <p><b>Зоны предоставления услуги:</b> Москва и Московская область, Санкт-Петербург и Ленинградская область.</p>
    <h4 class="text-center my-5"><b>Тарифы</b></h4>
  </div>
  <div class="furniture_assembly-block__table">
    <table class="col-12 col-lg-6 mx-auto">
      <tr class="text-center">
        <th>Группа товаров</th>
        <th>Стоимость сборки<i class="text-danger">*</i></th>
      </tr>
      <tr>
        <td>Диваны угловые</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Диваны прямые</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Тахты и Софы</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Диваны кухонные</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Кресла</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Столы</td>
        <td>от 600 ₽</td>
      </tr>
      <tr>
        <td>Компьютерные столы</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Спальный гарнитур</td>
        <td>от 4 000 ₽</td>
      </tr>
      <tr>
        <td>Шкаф для одежды 1х</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Шкаф для одежды 2х</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Шкаф для одежды 3х</td>
        <td>от 1 800 ₽</td>
      </tr>
      <tr>
        <td>Шкаф для одежды 4х</td>
        <td>от 2 000 ₽</td>
      </tr>
      <tr>
        <td>Шкаф купе 2х</td>
        <td>от 1 200 ₽</td>
      </tr>
      <tr>
        <td>Шкаф купе 3х</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Шкаф купе 4х</td>
        <td>от 2 000 ₽</td>
      </tr>
      <tr>
        <td>Стенки</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Чехловые шкафы</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Книжные шкафы</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Угловые секции (стеллажи)</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Угловые секции (шкаф)</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Тумбы под ТВ</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Тумба прик. 2 ящика</td>
        <td>от 400 ₽</td>
      </tr>
      <tr>
        <td>Тумба прик. более 2х ящиков</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Стеллажи (ширина до 800)</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Стеллажи (ширина свыше 800)</td>
        <td>от 1 000 ₽</td>
      </tr>
      <tr>
        <td>Комоды 4 ящика</td>
        <td>от 600 ₽</td>
      </tr>
      <tr>
        <td>Комоды 5 ящиков</td>
        <td>от 700 ₽</td>
      </tr>
      <tr>
        <td>Комоды 6 ящиков</td>
        <td>от 800 ₽</td>
      </tr>
    </table>
    <table class="col-12 col-lg-6 mx-auto">
      <tr class="text-center">
        <th>Группа товаров</th>
        <th>Стоимость сборки<i class="text-danger">*</i></th>
      </tr>
      <tr>
        <td>Комоды 7 ящиков</td>
        <td>от 900 ₽</td>
      </tr>
      <tr>
        <td>Комоды 8 ящиков</td>
        <td>от 1000 ₽</td>
      </tr>
      <tr>
        <td>Обувницы</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Банкетки и пуфы</td>
        <td>от 600 ₽</td>
      </tr>
      <tr>
        <td>Зеркала для прихожих</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Прихожие стенки (до 5000р)</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Прихожие стенки (свыше 5000р)</td>
        <td>от 1 700 ₽</td>
      </tr>
      <tr>
        <td>Кровати без П/М</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Кровати с П/М</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Кровати детские</td>
        <td>от 1 500 ₽</td>
      </tr>
      <tr>
        <td>Кровати двуъярусные</td>
        <td>от 2 000 ₽</td>
      </tr>
      <tr>
        <td>Шкаф-кровать</td>
        <td>от 3 000 ₽</td>
      </tr>
      <tr>
        <td>Кухни (сборка 10%, но не менее)</td>
        <td>от 2 000 ₽</td>
      </tr>
      <tr>
        <th class="text-center" colspan="2">Доп. Услуги по кухням</th>
      </tr>
      <tr>
        <td>Установка стеновой панели (за пог.м)</td>
        <td>от 200 ₽</td>
      </tr>
      <tr>
        <td>Распил столешницы</td>
        <td>от 400 ₽</td>
      </tr>
      <tr>
        <td>Установка накладной мойки</td>
        <td>от 600 ₽</td>
      </tr>
      <tr>
        <td>Вырез под мойку</td>
        <td>от 700 ₽</td>
      </tr>
      <tr>
        <td>Вырез под варочную панель</td>
        <td>от 800 ₽</td>
      </tr>
      <tr>
        <td>Вырез под лампу, розетку, смеситель и др.</td>
        <td>от 150 ₽</td>
      </tr>
      <tr>
        <td>Вырез под петлю</td>
        <td>от 200 ₽</td>
      </tr>
      <tr>
        <td>Установка релинга</td>
        <td>от 200 ₽</td>
      </tr>
      <tr>
        <td>Установка углового релинга</td>
        <td>от 300 ₽</td>
      </tr>
      <tr>
        <td>Монтаж вытяжки без водухоотвода</td>
        <td>от 600 ₽</td>
      </tr>
      <tr>
        <td>Монтаж воздухоотвода без короба</td>
        <td>от 400 ₽</td>
      </tr>
      <tr>
        <td>Вырез под фановую трубу</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Установка духового шкафа (без подключения)</td>
        <td>от 500 ₽</td>
      </tr>
      <tr>
        <td>Стяжка корпусной мебели (1 эл-т)</td>
        <td>от 150 ₽</td>
      </tr>
    </table>
    <p><i class="text-danger mr-2">*</i>не менее 10% от стоимости товара</p>
  </div>
  <div class="furniture_assembly-block__undertable-text">
    <h4 class="text-center my-4"><b>Условия предоставления услуги</b></h4>
    <p>Сотрудник согласовывает день сборки с покупателем при оформлении услуги.</p>
    <p>Стандартная cборка мебели осуществляется в период с 09:00 до 20:00 ежедневно в течение 3-х дней после доставки товара.</p>
    <p>Услуга "срочного выезда мастера" увеличивается в два раза от стандартной стоимости.</p>
    <p>В день оказания услуги мастер связывается для подтверждения времени приезда.</p>
    <p>Клиенту нужно предоставить чек или акт о покупке.</p>
    <p>По факту завершения работ производится сухая уборка и вынос упаковочного материала.</p>
    <div class="text-center my-4">
      <p>Подробную информацию вы можете получить по телефону Единой Информационной службы</p>
      <a class="undertable-text-button btn btn-danger" href="tel:+74951667221" type="submit">+7 (495) 166-72-21</a>
      <p>Ежедневно с 10:00 до 22:00</p>
    </div>
  </div>
  <div class="furniture_assembly-block__footer">
    <h4 class="text-center my-4"><b>Требования к помещению для установки мебели:</b></h4>
    <ul>
      <li>Помещение, в котором будет осуществляться сборка, должно быть обеспечено работающими электрическими розетками, электрическим освещением.</li>
      <li>Постоянная температура в помещении должна быть не ниже 18°С.</li>
      <li>Помещение должно быть освобождено от другой мебели (в т.ч. мойки, электробытовых приборов и прочих объектов, которые могут помешать сборке или быть повреждены во время проведения работ).</li>
      <li>Должен быть произведен демонтаж старой мебели.</li>
      <li>Стены для навески полок должны быть несущими и не требующими дополнительных работ.</li>
      <li>В случае наличия в помещении заказчика неровных полов и стен, Продавец не гарантирует Заказчику постоянную величину зазоров между частями мебели, стенами, потолком, полом.</li>
      <li>Во время проведения работ по установке мебели в помещении не должны проводиться другие работы.</li>
      <li>Покупатель обязан к прибытию сборщиков разместить доставленную мебель в том помещении, где она будет собираться и устанавливаться или всмежном с ним помещении.</li>
      <li>Покупатель обязан обеспечить свободное пространство для работы сборщиков не менее 8м2 иначе стоимость сборки увеличивается в 1,5 раза.</li>
      <li>Сборка на лоджиях, балконах, лестничных клетках, в нишах не осуществляется.</li>
      <li>Покупатель обязан письменно предупредить сборщиков о наличии в помещении скрытых коммуникаций и проводок.</li>
      <li>При нарушении этого условия Покупатель сам несет ответственность за случайное их повреждение при сборке и установке.</li>
      <li>Если помещение не отвечает необходимым требованиям, сборщик вправе отказаться от проведения сборки, сделав в Акте соответствующую отметку с указанием причин.</li>
      <li>Для осуществления сборки мебели необходимо присутствие Покупателя или его совершеннолетнего представителя по указанному в заказе адресу в течение всего времени сборки.</li>
      <li>При оставлении помещения Покупателем/представителем покупателя сборщик имеет право отказаться от сборки и покинуть помещение.</li>
      <li>Сборка осуществляется в течении 3х дней после доставки.</li>
      <li>Сборка в день доставки оплачивается клиентом в 2х кратном размере.</li>
      <li>Мастер имеет право не выбрасывать упаковку если во дворе клиента нет мусорного-промышленного контейнера.</li>
    </ul>
  </div>
  <hr>
</div>
{% endblock %}

{% block text-info %}
{% endblock %}
