{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | Политика конфиденциальности</title>{% endblock %}

{% block css-file %}
<link rel="stylesheet" href="{% static 'css/styles_main_subpages.css' %}">
{% endblock %}

{% block content %}
<div class="allpay-terms-block m-auto col-11">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white m-0">
      <li class="breadcrumb-item"><a href="{% url 'app_shop:main_sub_pages' %}">Главная страница</a></li>
      <li class="breadcrumb-item active" aria-current="page">Политика конфиденциальности</li>
    </ol>
  </nav>
  <hr>
  <article class="allpay-terms__text">
    <section class="text-center my-3">
      <h3>Соглашение об использовании AllHere Pay* (далее - “Соглашение”)</h3>
      <p>(версия от 1 августа 2020 года)</p>
    </section>
    <section>
      <h4>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ AllHere Ритейл Россия в области обработки и защиты персональных данных</h4>
      <p>Настоящая Политика конфиденциальности разработана и принята Компанией AllHere Ритейл Россия (включает в себя: ООО «AllHere» и ООО “АТАК”),
        далее именуемая Компания. ООО “AllHere”:</p>
      <p>Юридический адрес:
        <span class="ymaps-geolink">Российская Федерация, 141014, Московская область, Мытищинский район, г. Мытищи, Осташковское шоссе, д. 1</span>
      </p>
      <p>Адрес для корреспонденции:
        <span class="ymaps-geolink">Российская Федерация, 107140, г. Москва, ул. Верхняя Красносельская, д.3А, 5 эт.</span></p>
      <p>ООО “АТАК”:</p>
      <p>Юридический адрес: <span class="ymaps-geolink">Российская Федерация, 125635, г. Москва, ул. Ангарская, 13.</span></p>
      <p>Адрес для корреспонденции:
        <span class="ymaps-geolink">Российская Федерация, 107113, г. Москва, ул.3-я Рыбинская, дом 18, строение 22.</span></p>
      <p>Настоящая Политика конфиденциальности и Порядок обработки персональных данных (далее – Политика) действует в отношении всей информации,
        которую Компания может получить о Пользователе во время посещения сайта, использования сайта Интернет-магазина allhere.ru, посещения одного из
        магазинов сети, а также использования услуг, программ и продуктов Компании.</p>
    </section>
    <section>
      <h4>1. ТЕРМИНЫ и ОПРЕДЕЛЕНИЯ.</h4>
      <p>В настоящей Политике используются следующие термины:</p>
      <ol class="m-2">
        <li><b>«Персональные данные»</b> - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу
          (субъекту персональных данных).</li>
        <li><b>«Обработка персональных данных»</b> - любое действие (операция) или совокупность действий (операций), совершаемых с использованием
          средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление,
          хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание,
          блокирование, удаление, уничтожение персональных данных.</li>
        <li><b>«Конфиденциальность персональных данных»</b> - обязательное для соблюдения Компанией или иным получившим доступ к персональным данным
          лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</li>
        <li><b>«Пользователь сайта Интернет-магазина allhere.ru (далее Пользователь)»</b> – лицо, имеющее доступ к Сайту, посредством сети Интернет и
          использующее Сайт интернет-магазина.</li>
        <li><b>«Пользователь сайтов и порталов программ и продуктов/услуг</b> – лицо, имеющее доступ к Сайту (порталу), принадлежащему Компании,
          посредством регистрационных форм через сеть Интернет.</li>
        <li><b>«Cookies»</b> — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или
          веб-браузер
          каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</li>
        <li><b>«IP-адрес»</b> — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</li>
        <li><b>«MAC-адрес»</b> - записанный в шестнадцатеричном виде код, который присваивается каждой единице сетевого оборудования.</li>
      </ol>
    </section>
    <section>
      <h4>2. ОБЩИЕ ПОЛОЖЕНИЯ</h4>
      <ol class="m-2">
        <li>Использование Пользователем сайта Интернет-магазина allhere.ru и других сервисов и услуг Компании означает согласие с настоящей
          Политикой.</li>
        <li>В случае несогласия с условиями Политики Пользователь вправе прекратить использование сайта Интернет-магазина allhere.ru и других сервисов
          Компании.</li>
        <li>Настоящая Политика применяется только к сайтам и порталам услуг Компании. Компания не контролирует и не несет ответственность за сайты
          третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайтах и порталах Компании.</li>
        <li>Компания не проверяет достоверность персональных данных, предоставляемых Пользователями.</li>
      </ol>
    </section>
    <section>
      <h4>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ и ПОРЯДКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ.</h4>
      <ol class="m-2">
        <li><p>Компания гарантирует, что никакая полученная от Вас информация не будет передана третьим лицам, за исключением тех случаев, когда на
          это получено Ваше согласие или это предусмотрено действующим законодательством Российской Федерации. В отношении персональной информации
          Пользователя сохраняется конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа
          неограниченному кругу лиц. В данном случае Пользователь соглашается с тем, что определенная часть его персональной информации становится
          общедоступной.</p>
          <p>Компания гарантирует организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного
            доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>
        </li>
        <li>Персональные данные, обрабатываемые Компанией в рамках настоящей Политики, предоставляются Пользователем и включают в себя следующую
          информацию:
          <ol class="m-2">
            <li>Данные при заполнении информационных полей на сайтах, порталах и приложениях Компании, в том числе при заполнении контактной формы,
              при подписке на новостную и рекламную рассылку, при регистрации на конкурсы и мероприятия, при оформлении заказа:
              <ul class="m-2">
                <li>Фамилия, имя, отчество Пользователя;</li>
                <li>Контактный телефон Пользователя;</li>
                <li>Адрес электронной почты (e-mail);</li>
                <li>Адрес доставки Товара;</li>
                <li>Место жительство Пользователя.</li>
              </ul>
            </li>
            <li>Персональные данные, содержащиеся в сообщениях, которые Пользователь отправляет или передает Компании;</li>
            <li>Персональные данные, которые автоматически передаются устройством при использовании сайтов, порталов и приложений, Компании:
              <ul class="m-2">
                <li>IP адрес;
                <li>MAC адрес;</li>
                <li>Информация из cookies;</li>
                <li>Геолокация пользователя;</li>
                <li>Язык браузера;</li>
                <li>Внешний источник перехода на сайт;</li>
                <li>Устройство пользователя, включая модель и производителя устройства;</li>
                <li>Операционная система;</li>
                <li>Тип и версия браузера;</li>
                <li>Размер экрана пользователя;</li>
                <li>Интернет-провайдер пользователя.</li>
              </ul>
            </li>
            <li>Персональные данные, полученные Компанией c согласия Пользователя при авторизации Пользователя в сети WiFi на территории Компании и
              использовании услуги предоставления доступа к сети Интернет по технологии WiFi:
              <ul class="m-2">
                <li>абонентский номер;</li>
                <li>IP адрес;</li>
                <li>MAC адрес;</li>
                <li>Геолокация пользователя.</li>
              </ul>
            </li>
            <li>Персональные данные, полученные при регистрации личного кабинета, при продаже товаров Компании и исполнении сопутствующих услуг, в том
              числе:
              <ul class="m-2">
                <li>финансовая информация, включая номер кредитной или дебетовой карты (только последние четыре цифры номера карты) или иная платежная
                  информация;</li>
                <li>история приобретения вами товаров Компании и услуг;</li>
                <li>история обращений в Компанию и взаимодействия с Компанией;</li>
                <li>интересы и предпочтения при совершении покупок/выборе товаров;</li>
              </ul>
            </li>
            <li>Персональные данные, полученные при оформлении карт лояльности Компании, а также полученные Компанией при выполнении поручений
              третьих лиц, в том числе банковских карт партнеров;</li>
            <li>С отдельного согласия Пользователя иные персональные данные по усмотрению Пользователя и усмотрению Компании.</li>
            <li>Иные персональные данные, которые Пользователь пожелал оставить на сайтах и регистрационных формах Компании.</li>
          </ol>
        </li>
        <li>Сайты и приложения Компании используют технологию cookie, с помощью которой он (они) настраивается (ются) на работу лично с Вами.
          Отключение cookies может повлечь невозможность доступа к частям сайта, требующим авторизации. Если Вы хотите отключить эту функцию,
          осведомитесь о настройках Вашего браузера относительно cookie. Подробную информацию Вы можете найти на сайте производителя Вашего браузера
          или производителей расширений и плагинов для браузеров.</li>
        <li>На сайтах и порталах Компании размещены так называемые «социальные плагины» - кнопка «Мне нравится» сетей Facebook, ВКонтакте, YouTube,
          Instagram, Twitter, Pinterest. Если Вы являетесь членом социальной сети и нажимаете на соответствующий социальный плагин, владелец этой
          социальной сети может связать информацию о посещении нашего сайта с Вашим профилем.</li>
        <li>На сайте Компании имеются ссылки, позволяющие перейти на другие сайты. Компания не несет ответственности за сведения, публикуемые на этих
          сайтах, и предоставляет ссылки на них только в целях обеспечения удобства для Посетителей своего сайта.</li>
        <li>Электронный адрес Пользователя используется при создании для управления учетной записью Интернет-магазина AllHere и других приложений
          Компании, требующих регистрацию по электронной почте.</li>
        <li>При желании и согласии Вы можете получать периодические рассылки, информирующие о проходящих акциях и знакомящих Вас с новостями
          Компании. Компания уважает личную свободу Пользователя на получение только тех электронных писем, которые он/она хочет. Каждый Пользователь
          добровольно выбирает, получать ему рассылку или нет. Для того чтобы отписаться от рассылки Вы можете пройти по специальной ссылке,
          размещенной в нижней части письма либо при наличии Личного кабинета на нашем сайте Вам необходимо зайти в раздел Личный кабинет и в пункте
          Рассылки снять галочку «Общая подписка».</li>
        <li>Пользователь соглашается с тем, что Компания вправе передавать персональные данные Пользователя третьим лицам, партнерам Компании для
          оказания услуг/предоставления сервисов Пользователям Компании, в частности, курьерским службам, организациям почтовой связи, компаниям,
          предоставляющим сервисы для рассылок и оповещений, иным третьим лицам с целью продвижения товаров, работ, услуг Компании и третьих лиц с
          использованием различных средств связи (электронная почта, текстовые сообщения, звонки и пр.).</li>
        <li>Пользователь соглашается с тем, что Компания вправе без получения дополнительного согласия от Пользователя информировать его о своей
          деятельности, реализуемых товарах и оказываемых услугах, в том числе направлять сведения рекламного характера, любыми не противоречащими
          закону способами, в том числе путем направления SMS-сообщений, размещения соответствующей информации на стартовой странице регистрации в
          сети WiFi на территории Компании после предоставления доступа к беспроводной сети передачи данных, путем демонстрации информации на
          пользовательском оборудовании, путем осуществления прямых контактов с Пользователем с помощью средств связи, в том числе проводить анализ
          предпочтений и мониторинг потребительского поведения Пользователя.</li>
        <li>Компания осуществляет анализ предпочтений пользователя и мониторинг потребительского поведения с использованием сторонних сервисов
          аналитики, размещенных на сайтах:
          <ul class="m-2">
            <li>Яндекс.Метрика <a href="https://metrika.yandex.ru">https://metrika.yandex.ru</a></li>
            <li>Useinsider <a href="https://useinsider.com/">https://useinsider.com/</a></li>
            <li>Criteo <a href="https://criteo.com">https://criteo.com</a></li>
            <li>Doubleclick <a
                    href="https://marketingplatform.google.com/about/enterprise/">https://marketingplatform.google.com/about/enterprise/</a></li>
            <li>Google analytics <a href="https://analytics.google.com/">https://analytics.google.com/</a></li>
            <li>Popmechanic <a href="https://popmechanic.io/">https://popmechanic.io/</a></li>
            <li>Upravel <a href="http://upravel.com/">http://upravel.com/</a></li>
            <li>RetailRocket <a href="https://retailrocket.net">https://retailrocket.net</a></li>
            <li>New Relic <a href="https://newrelic.com/">https://newrelic.com/</a></li>
            <li>Pingdom <a href="https://www.pingdom.com/">https://www.pingdom.com/</a></li>
            <li>Mindbox <a href="https://mindbox.ru/">https://mindbox.ru/</a></li>
          </ul>
        </li>
      </ol>
      <h4>4. ПРИНЦИПЫ И ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h4>
      <p>Компания гарантирует, что обработка персональных данных Пользователей производится в соответствии с законодательством РФ и осуществляется
        исключительно в целях максимально удобного и выгодного взаимного сотрудничества, в том числе, по договорам купли-продажи, заключаемых
        дистанционным способом.</p>
      <ol class="m-2">
        <li>Основными принципами Компании в указанной сфере являются:
          <ul class="m-2">
            <li>законность целей и способов обработки персональных данных и добросовестность;</li>
            <li>соответствие целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных;</li>
            <li>соответствие объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки
              персональных данных;</li>
            <li>недопустимость обработки персональных данных, избыточных по отношению к целям, заявленным при сборе персональных данных;</li>
            <li>недопустимость объединения созданных для несовместимых между собой целей баз данных информационных систем персональных данных.</li>
          </ul>
        </li>
        <li>Целями обработки персональных данных являются:
          <ul class="m-2">
            <li>Идентификация Пользователя, зарегистрированного на электронном сайте www.allhere.ru, для оформления заказа и (или) заключения и
              исполнения
            <li>Договора купли-продажи товара дистанционным способом;</li>
            <li>Создание учетной записи для совершения покупок, участиях в конкурсах и мероприятиях Компании, если Пользователь дал согласие на
              создание учетной записи;</li>
            <li>Предоставление Пользователю доступа к персонализированным ресурсам сайтов, приложений и порталов Компании;</li>
            <li>Предоставление Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием
              электронного сайта www.allhere.ru и других услуг и продуктов Компании;</li>
            <li>Уведомления Пользователя о состоянии Заказа, оформленного на сайте allhere.ru;</li>
            <li>Обработки и контроля статуса платежей по заказам, оформленным на сайте allhere.ru;</li>
            <li>Идентификация Пользователя, зарегистрированного при авторизации доступа к сети Интернет по технологии WiFi на территории магазинов и
              офисов Компании;</li>
            <li>Организации и проведения Компанией мероприятий и опросов, информирование Пользователей и продвижение о новых товарах, услугах, скидках
              Компании и третьих лиц по усмотрению Компании от имени Компании или от имени партнеров Компании, в том числе путем осуществления прямых
              контактов с Пользователем с помощью средств связи;</li>
            <li>Установление с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайтов Компании,
              оказания услуг, обработка запросов и заявок;</li>
            <li>Предоставление дополнительных сервисов и услуг Компании, направленных на повышение информированности о продукции и услугах
              Компании;</li>
            <li>Анализ предпочтений и мониторинг потребительского поведения Пользователя;</li>
            <li>С отдельного согласия Пользователя в иных случаях по усмотрению Пользователя и по усмотрению Компании;</li>
            <li>В иных целях при соблюдении действующего законодательства.</li>
          </ul>
          <p>Компания гарантирует конфиденциальность полученных персональных данных Пользователей. Условия о конфиденциальности распространяются на
            всю информацию, которую Компания может получить о Пользователе во время его/ее пребывания на сайтах или при пользовании сервисов и услуг
            Компании. Доступ к личной информации о пользователе защищен паролем.</p>
          <p>Предлагаемые Компанией, а также привлекаемыми им третьими лицами в заявленных в настоящем согласии целях товары/работы/услуги доступны к
            получению на территории Российской Федерации. Мониторинг потребительского поведения лиц, находящихся за пределами Российской Федерации,
            как Компанией, так и привлекаемыми им третьими лицами, не ведется.</p>
        </li>
      </ol>
    </section>
    <section>
      <h4>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</h4>
      <ol class="m-2">
        <li>Ознакомившись с настоящей Политикой, при посещении и использовании сайтов, сервисов, услуг Компании, Пользователь предоставляет свои
          персональные данные и дает согласие на обработку его персональных данных в целях, обозначенных выше, свободно, своей волей и в своем
          интересе.</li>
        <li>Компания гарантирует, что обработка персональных данных осуществляется не дольше, чем это требуется в соответствии с изложенными
          целями. Компания принимает меры по обеспечению актуализации и точности обрабатываемых персональных данных, а также их уточнению/удалению в
          случаях, предусмотренных законом.</li>
        <li>Пользователь вправе не предоставлять свои персональные данные, отказавшись от регистрации на указанном сайте и других сервисах
          Компании, в том числе и в целях приобретения Товара или подключения к различным информационным ресурсам.
          Пользователь вправе отозвать свое согласие на обработку персональных данных. В данном случае Компания вправе продолжить обработку
          персональных данных только в случаях, когда это предусмотрено законом.</li>
        <li>Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по
          основаниям и в порядке, установленным законодательством Российской Федерации.</li>
        <li>Компания принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или
          случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих
          лиц.</li>
        <li>Компания вправе передать персональные данные третьим лицам только в случае:
          <ul class="m-2">
            <li>Если этого требует законодательство.</li>
            <li>Если это требуется для исполнения договора, заключенного с Пользователем.</li>
            <li>При наличии согласия Пользователя.</li>
          </ul>
        </li>
        <li>Пользователь вправе получить информацию, касающуюся обработки его персональных данных, а также вправе требовать уточнения, блокирования
          или уничтожения персональных данных в случаях, предусмотренных законом.</li>
      </ol>
    </section>
    <section>
      <h4>6. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ.</h4>
      <ol class="m-2">
        <li>Компания вправе вносить изменения в условия Политики путем размещения измененной редакции на данном сайте.</li>
        <li>Более подробно об обеспечении выполнения требований законодательства РФ в области обработки персональных данных субъектов персональных
      данных вы можете ознакомится в <a href="{% url 'app_shop:main_sub_pages' 'pd_processing_policy' %}">Политике ООО «AllHere» в
      области обработки и защиты персональных данных</a>.</li>
        <li>Все предложения или вопросы по поводу настоящей Политики конфиденциальности, обработки персональных данных и работы www.allhere.ru вы
      можете направлять, используя <a href="{% url 'app_shop:subpage_allhere_in_russia' 'feedback' %}">контакты обратной связи,
      размещенные по сайте</a>.</li>
      </ol>
    </section>
  </article>
</div>
{% endblock %}

{% block text-info %}
{% endblock %}
