{% extends "base_generic.html" %}


{% load static %}

{% block title %}<title>AllHere интернет-магазин | Сервисная служба</title>{% endblock %}

{% block css-file %}
  <link rel="stylesheet" href="{% static 'css/styles_main_subpages.css' %}">
{% endblock %}

{% block content %}
  <div class="service-block m-auto col-11">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white m-0">
        <li class="breadcrumb-item"><a href="{% url 'app_shop:main_sub_pages' %}">Главная страница</a></li>
        <li class="breadcrumb-item active" aria-current="page">Сервисная служба</li>
      </ol>
    </nav>
    <ul class="service-block-nav nav nav-tabs" id="serviceTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link link-payment" id="payment-tab" data-toggle="tab" href="#payment" role="tab"
           aria-controls="payment" aria-selected="false">Оплата</a></li>
      <li class="nav-item" role="presentation">
        <a class="nav-link link-delivery" id="home-tab" data-toggle="tab" href="#delivery" role="tab"
           aria-controls="delivery" aria-selected="true">Доставка</a></li>
      <li class="nav-item" role="presentation">
        <a class="nav-link link-return" id="profile-tab" data-toggle="tab" href="#return" role="tab"
           aria-controls="return" aria-selected="false">Возврат</a></li>
      <li class="nav-item" role="presentation">
        <a class="nav-link link-terms" id="terms-of-sale-tab" data-toggle="tab" href="#terms-of-sale" role="tab"
           aria-controls="terms-of-sale" aria-selected="false">Условия продажи</a></li>
    </ul>
    <article class="service-block-content tab-content" id="serviceTabContent">
      <section class="payment-block tab-pane fade show active" id="payment" role="tabpanel"
               aria-labelledby="payment-tab">
        <div class="row my-4">
          <div class="payment-block__links list-group col-12 col-lg-4 col-xl-3" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action flex-fill active" id="cash-pay" data-toggle="list"
               href="#list-cash" role="tab" aria-controls="cash">Наличными</a>
            <a class="list-group-item list-group-item-action flex-fill" id="bank-card" data-toggle="list"
               href="#list-bank-card" role="tab" aria-controls="bank-card">Банковской картой</a>
            <a class="list-group-item list-group-item-action flex-fill" id="gift-card" data-toggle="list"
               href="#list-gift-card" role="tab" aria-controls="gift-card">Подарочной картой AllHere</a>
            <a class="list-group-item list-group-item-action flex-fill" id="bank-pay" data-toggle="list"
               href="#list-bank-pay" role="tab" aria-controls="bank-pay">Банковским платежом</a>
          </div>
          <div class="payment-block__content col-12 col-lg-8 col-xl-9">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-cash" role="tabpanel" aria-labelledby="cash">
                <h4 class="my-2">Оплатить заказ наличными возможно следующими способами:</h4>
                <ul class="mx-5 my-2">
                  <li>Курьеру при доставке заказа на дом</li>
                  <li>При доставке в магазины AllHere, AllHere Сити, Наша Радуга</li>
                </ul>
              </div>
              <div class="tab-pane fade" id="list-bank-card" role="tabpanel" aria-labelledby="bank-card">
                <h4 class="my-2">Оплатить заказ банковской картой возможно следующими способами:</h4>
                <ul class="mx-5 my-2">
                  <li>Онлайн на сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a> при оформлении заказ</li>
                  <li>При доставке в магазины AllHere, AllHere Сити, Наша Радуга и склада <a
                      href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a></li>
                  <li>Курьеру при доставке заказа на дом</li>
                </ul>
                <p><b>Для получения заказа, оплаченного онлайн, необходимо иметь документ, подтверждающий личность
                  получателя заказа, ФИО в котором совпадает с ФИО указанным на странице оплаты. Список документов,
                  удостоверяющих личность:</b></p>
                <ul class="mx-5 my-2">
                  <li>Паспорт гражданина Российской Федерации</li>
                  <li>Водительское удостоверение</li>
                  <li>Загранпаспорт гражданина РФ</li>
                  <li>Удостоверение личности военнослужащего РФ; военный билет солдата, матроса, сержанта, старшины,
                    прапорщика и мичмана</li>
                  <li>Временное удостоверение личности гражданина Российской Федерации (форма N 2П)</li>
                  <li>Свидетельство о рождении</li>
                  <li>Служебное удостоверение работника прокуратуры</li>
                  <li>Удостоверение личности моряка</li>
                </ul>
                <p>На сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a> принимаются к оплате банковские
                  карты платежных систем Visa и MasterCard. Услуга бесплатная, при выборе оплаты онлайн стоимость за
                  заказ не увеличивается. После подтверждения заказа Вы будете перенаправлены на защищенную платежную
                  страницу, где вам будет необходимо ввести данные вашей банковской карты. Об успешности оплаты
                  Вы будете уведомлены на странице подтверждения и с помощью электронного письма, отправленного на
                  адрес, указанный при регистрации. Информация, указанная в письме, будет содержать все данные о
                  проведенной платежной транзакции.</p>
                <p>Так же у Вас есть возможность безопасным образом сохранить свои банковские карты для удобства
                  дальнейших покупок на сайте <a href="{% url 'app_shop:main_sub_pages' %}">www.allhere.ru</a>. Сохранить карту
                  можно при оплате заказа, а так же в личном кабинете, в разделе “Мои карты”. Вы всегда можете удалить
                  сохраненные ранее карты.</p>
                <h4 class="my-2">Гарантии безопасности</h4>
                <p>Сервис-провайдер защищает данные вашей банковской карты, подтвержденные соответствием стандарту
                  безопасности PCI DSS 2.2. Данные карты вводятся на защищенной платежной странице,передача информации
                  в процессинговый центр происходит с применением технологии шифрования SSL.</p>
                <p>Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень
                  надежности. Собственный процессинговый центр компании не передает данные вашей карты магазину и иным
                  третьим лицам. Для дополнительной аутентификации держателя карты при необходимости используется
                  протокол 3D Secure. Если ваш банк поддерживает данную технологию, вы будете перенаправлены на его
                  сервер для ввода дополнительных реквизитов платежа.</p>
              </div>
              <div class="tab-pane fade" id="list-gift-card" role="tabpanel" aria-labelledby="gift-card">
                <p>Оплатить заказ подарочной картой возможно при доставке в магазины AllHere, AllHere Сити, Наша Радуга.
                  Если стоимость выбранного товара будет больше номинала карты, Вам будет необхдимо доплатить
                  недостающую сумму. Доплата может быть осуществлена как наличными, так и банковской картой.</p>
              </div>
              <div class="tab-pane fade" id="list-bank-pay" role="tabpanel" aria-labelledby="bank-pay">
                <p>При оформлении заказа в интернет-магазине на сумму свыше 50 000 рублей юридические лица могут
                  совершить оплату банковским платежом через любой банк, действующий на территории Российской
                  Федерации. Для получения более подробной информации по данному способу оплаты
                  Вам необходим связаться с центром поддержки клиентов по телефонному номеру
                  <a href="tel:+78007005800">8 (800) 700-5-800</a> или адресу электронной почты
                  <a href="mailto:client.question@allhere.ru">client.question@allhere.ru</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="delivery-block tab-pane fade" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
        <div class="delivery-block__header">
          <h2 class="my-4">Условия доставки</h2>
          <h4 class="my-4">Бесплатная доставка по Москве в пределах МКАД от 4000 рублей</h4>
          <p>Адрес: <span class="ymaps-geolink">Московская обл., Котельники, Яничкин проезд дом 5</span></p>
          <p>Часы работы: круглосуточно (без выходных) Проход на территорию складского комплекса осуществляется через
            КПП</p>
          <p>При возникновении вопросов Вы можете позвонить по телефону: <a href="tel:+784957973814">8 (495)
            797-38-14</a> (доб. 51-00)</p>
          <h2 class="my-4">Самовывоз из гипермаркетов AllHere</h2>
          <p>Если вы не нашли ваш город, полная стоимость отобразится в корзине при оформлении заказа</p>
          <p>Самовывоз по Москве и Московской области — БЕСПЛАТНО</p>
        </div>
        <div class="delivery-block__table my-4">
          <table class="col-12 col-lg-10 col-xl-8 mx-auto">
            <tr>
              <th class="w-25">Город</th>
              <th>Мелкогабаритный Заказ</th>
              <th>Среднегабаритный Заказ</th>
              <th>Крупногабаритный Заказ</th>
            </tr>
            <tr>
              <td>Арзамас</td>
              <td rowspan="10">0 ₽</td>
              <td rowspan="10">0 ₽</td>
              <td rowspan="10">0 ₽</td>
            </tr>
            <tr>
              <td>Белгород</td>
            </tr>
            <tr>
              <td>Владимир</td>
            </tr>
            <tr>
              <td>Волгоград</td>
            </tr>
            <tr>
              <td>Казань</td>
            </tr>
            <tr>
              <td>Кострома</td>
            </tr>
            <tr>
              <td>Краснодар</td>
            </tr>
            <tr>
              <td>Нижний Новгород</td>
            </tr>
            <tr>
              <td>Самара</td>
            </tr>
            <tr>
              <td>Санкт-Петербург</td>
            </tr>
            <tr>
              <td>Екатеринбург</td>
              <td rowspan="4">49 ₽</td>
              <td rowspan="4">199 ₽</td>
              <td rowspan="4">499 ₽</td>
            </tr>
            <tr>
              <td>Красноярск</td>
            </tr>
            <tr>
              <td>Новосибирск</td>
            </tr>
            <tr>
              <td>Симферополь</td>
            </tr>
          </table>
        </div>
        <div class="delivery-block__footer">
          <h4 class="my-4">ДОСТАВКА КУРЬЕРОМ</h4>
          <p><b>Внимание! С 1 августа доставка товаров курьерской службой недоступна во всех регионах.</b></p>
          <p>Полная стоимость доставки в вашем городе отображается в корзине при оформлении заказа.</p>
          <p>Заказы на доставку, оформленные до 12:00 текущего дня (время московское), могут быть доставлены в тот же
            день.</p>
          <h4 class="my-4">ГАБАРИТЫ ТОВАРА:</h4>
          <ul class="mx-4">
            <li>Мелкогабаритный товар (С): Д*Ш*В менее 120 см., сумма сторон не более 200см., вес до 20 кг.</li>
            <li>Среднегабаритный товар (В): Д*Ш*В более 120 см. и/или сумма сторон более 200 см., вес от 20 до 100
              кг.</li>
            <li>Крупногабаритный товар (A): вес более 100 кг.</li>
          </ul>
          <h4 class="my-4">ПРИЕМ ТОВАРА</h4>
          <p>При получении товара Вы имеете право осмотреть заказ и при отсутствии механических повреждений и иных
            нарушений качества принять его.</p>
          <p>Вскрытие посылки при курьере невозможно. Все претензии по качеству полученного товара из заказа должны
            отправляться на адрес <a href="mailto:client.question@allhere.ru">client.question@allhere.ru</a></p>
          <h4 class="my-4">ОБМЕН ТОВАРА</h4>
          <p>Замена товара или возврат денежных средств Покупателю осуществляется после проведения независимой
            экспертизы сервисного центра.</p>
        </div>
      </section>
      <section class="return-block tab-pane fade" id="return" role="tabpanel" aria-labelledby="return-tab">
        <h2 class="my-4">Возврат товара</h2>
        <p>Вы имеете право в течение 14 (четырнадцати) дней отказаться от товара надлежащего качества, если он не был в
          эксплуатации, сохранены его товарный вид и потребительские свойства. В случае если Вам передается товар с
          нарушением условий договора, касающихся количества, ассортимента, качества, комплектности, тары и (или)
          упаковки товара, пожалуйста, уведомите нас не позднее 20 дней после получения товара. Вы можете вернуть
          товар в ближайший магазин AllHere, либо курьером.</p>
        <p>Для возврата товара курьером, пожалуйста, позвоните нам <a href="tel:+78007005800">8-800-700-5-800</a>.
          Распечатайте и заполните заявление на возврат, отдайте его курьеру или кассиру в магазине.</p>
        <p>Если Вы возвращаете товар надлежащего качества, который не подошел Вам по цвету, размеру или фасону, мы не
          возвращаем стоимость доставки или самовывоза.</p>
        <p>Мы возвращаем денежные средства за товар не позднее 10 дней после предъявления Вами соответствующего
          требования.</p>
        <p>В случае невозможности самостоятельно возвратить Товар надлежащего качества в магазин, позвоните нам
          <a href="tel:+78007005800">8-800-700-5-800</a>.</p>
        <p>Если у Вас есть дополнительные вопросы по возврату товара, напишите нам на
          <a href="mailto:b2b@allhere.ru">client.question@allhere.ru</a>
        </p>
      </section>
      <section class="terms-block tab-pane fade" id="terms-of-sale" role="tabpanel" aria-labelledby="terms-of-sale-tab">
        <h2 class="my-4">Условия продажи товаров в интернет-магазине AllHere</h2>
        <ol>
          <li>Покупатель приобретает в собственность Товар в количестве и ассортименте, оговоренном при размещении
            заказа в интернет магазине.</li>
          <li>Договор купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или товарного
            чека либо иного документа, подтверждающего оплату товара в месте его продажи или в месте передачи
            товара Покупателю.</li>
          <li>Товар может быть передан Покупателю в любом выбранном им месте, указанном при размещении заказа, путем
            доставки. Дата доставки/получения согласовывается при размещении заказа.</li>
          <li>Доставка Товара Покупателю не входит в стоимость Товара и оплачивается отдельно.</li>
          <li>При получении товара Покупатель имеет право осмотреть Товар и при отсутствии механических повреждений и
            иных нарушений качества принять товар. При обнаружении недостатков Покупатель имеет право отказаться от
            покупки и не оплачивать товар и стоимость доставки (при необходимости доставки).</li>
          <li>При получении Товара Покупатель подписывает Акта приема-передачи. Право собственности на товар переходит к
            Покупателю с момента подписания Акта. С указанного момента Продавец считается полностью выполнившим свои
            обязанности по передаче Товара, а Покупатель – утратившим право предъявлять претензии к внешнему виду и
            механическим повреждениям данного товара.</li>
          <li>При размещении заказа Покупатель обязан предоставить все необходимые данные (необходимость доставки товара
            Продавцом, адрес доставки, вид и количество Товара, итд.).</li>
          <li>Покупатель имеет право в течение 14 дней отказаться от товара надлежащего качества, если он не был в
            эксплуатации, сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт
            и условия покупки указанного товара. Отсутствие такого документа не лишает Покупателя права ссылаться на
            свидетельские показания.</li>
          <li>В случае, если доставка товара произведена в согласованные сроки (при необходимости доставки), но товар
            не был передан Покупателю по его вине, новая доставка производится в новые сроки, согласованные с Продавцом
            после повторной оплаты Покупателем стоимости услуги по доставке товара.</li>
          <li>В случае отказа от доставленного Товара надлежащего качества Покупатель возмещает Продавцу расходы на
            доставку.</li>
          <li>В случае отказа от товара надлежащего качества денежная сумма, уплаченная потребителем по договору,
            возвращается в полном объеме не позднее, чем через 10 дней после предъявления Покупателем соответствующего
            требования, Покупатель возмещает Продавцу расходы на доставку.</li>
          <li>В случае отказа от поставленного в срок Товара надлежащего качества Покупатель компенсирует затраты по
            доставке товара от Покупателя в размере 1000 (одной тысячи) рублей.</li>
          <li>Цена товара указана на сайте интернет магазина и в Акте приема - передачи. В случае неверного указания
            цены заказанного Покупателем Товара, Продавец информирует об этом Покупателя для подтверждения Заказа по
            исправленной цене либо аннулирования Заказа. При невозможности связаться с Покупателем данный Заказ
            считается аннулированным. Если Заказ был оплачен, Продавец возвращает Покупателю оплаченную за Заказ
            сумму тем же способом, которым она была уплачена. Цена Товара на Сайте может быть изменена Продавцом в
            одностороннем порядке. При этом цена на заказанный Покупателем Товар изменению не подлежит.</li>
          <li>Доставка товара Покупателю осуществляется силами транспортных компаний, имеющих соответствующее
            свидетельство. Доставка Товара осуществляется до подъезда, до дверей квартиры (при наличии грузового лифта
            в рабочем состоянии) или в прихожую. Оплата и оформление покупки осуществляется только в помещении. При
            нарушении транспортной компанией условий доставки, просьба писать на
            <a href="mailto:client.question@allhere.ru">client.question@allhere.ru</a></li>
          <li>Кассовые чеки пробиваются без стоимости доставки (включают в себя только стоимость товара). Чеки на
            транспортные услуги выдаются представителем транспортной компании по агентскому договору.</li>
          <li>Продавец оставляет за собой право аннулировать Заказы Клиента, содержащие Товары, от которых Клиент ранее
            отказался 5 и более раз, указав причины, не связанные с недостатками этих Товаров.</li>
          <li>Продавец оставляет за собой право отказать в оформлении Заказа (аннулировать Заказ), если у Клиента уже
            оформлены и не получены ранее оформленные Заказы на общую сумму 50 тысяч рублей и выше.</li>
          <li>Сообщая Продавцу свой e-mail и номер телефона, Покупатель дает согласие на использование указанных средств
            связи Продавцом, а также третьими лицами, привлекаемыми им для выполнения обязательств перед Покупателями,
            в целях осуществления рассылок информационного характера, содержащих информацию о скидках, предстоящих и
            действующих акциях и других мероприятиях Продавца, о передаче заказа в доставку, а также иную
            информацию, непосредственно связанную с выполнением обязательств Покупателем.</li>
          <li>В случае отсутствия заказанных Покупателем Товаров на складе Продавца, последний вправе исключить
            указанный Товар из Заказа / аннулировать Заказ Покупателя, уведомив об этом Покупателя путем направления
            соответствующего электронного сообщения по адресу, указанному Покупателем при регистрации (либо звонком
            оператора Call-центра). В случае аннуляции полностью либо частично предоплаченного Заказа стоимость
            аннулированного Товара возвращается Продавцом Покупателю способом, которым Товар был оплачен.</li>
          <li>При возврате товара, который был предоплачен онлайн на сайте
            <a href="{% url 'app_shop:main_sub_pages' %}">allhere.ru</a> в розничный магазин AllHere Покупателю необходимо
            предъявить кассиру электронный чек, который был направлен на электронную почту Покупателя при оформлении
            заказа. Отсутствие данного чека не является основанием в отказе возврата товара.</li>
        </ol>
      </section>
    </article>
  </div>
  <hr>
{% endblock %}

{% block text-info %}
{% endblock %}
