<!DOCTYPE html>


{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>

  {% block title %}<title>AllHere в России</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles_about.css' %}">
  <script src="//code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
  <script src="//api-maps.yandex.ru/2.1/?apikey={{ API_KEY_YANDEX_GEOCODER }}&lang=ru_RU&load=Geolink"
          type="text/javascript"></script>

</head>

<body>
  <div class="container-block container">
    <!-- header -->
    <header class="header-block header">
      <nav class="header-block__primary-header navbar">
        <div class="navbar ml-auto h-100 py-0">
          <ul class="navbar-nav flex-row align-items-center h-100">
            <li class="nav-item d-flex align-items-center h-100 mr-3">
              <a class="nav-link p-0" href="{% url 'app_shop:main_sub_pages' 'service' %}">Доставка</a>
            </li>
            <li class="nav-item d-flex align-items-center h-100 mr-3">
              <a class="nav-link p-0" href="{% url 'app_shop:main_sub_pages' 'service' %}">Оплата</a>
            </li>
            <li class="nav-item d-flex align-items-center h-100 mr-3">
              <a class="nav-link p-0" href="{% url 'allhere_in_russia:subpages' 'tenants_and_landlords' %}">Аренда</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="header-block__secondary-header d-flex align-items-center justify-content-center">
        <div class="logo-block d-flex align-items-end justify-content-center mr-md-5 ml-md-5">
          <a class="stretched-link" href="{% url 'app_shop:index' %}"></a>
          <p class="logo-block_text text-center invisible">Перейти в магазин</p>
        </div>
      </div>
    </header>
    <!-- header end -->
    <!-- navigation -->
    <div class="navigation-block container p-0">
      <nav class="navbar navbar-light bg-light p-0">
        <ul class="navbar-nav flex-row w-100">
          <li class="nav-item flex-fill">
            <div class="navigation-block__item-first position-relative">
              <a class="stretched-link" href="{% url 'app_shop:index' %}"></a>
              <p class="text-center">Интернет-магазин</p>
            </div>
          </li>
          <li class="nav-item flex-fill active">
            <div class="navigation-block__item position-relative">
              <a class="stretched-link" href="{% url 'allhere_in_russia:subpages' 'all_shops' %}"></a>
              <p class="text-center">Ваш магазин</p>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <div class="navigation-block__item position-relative">
              <a class="stretched-link" href="{% url 'allhere_in_russia:subpages' 'allhere_in_russia' %}"></a>
              <p class="text-center">Об AllHere</p>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <div class="navigation-block__item position-relative">
              <a class="stretched-link" href="{% url 'allhere_in_russia:subpages' 'advantages' %}"></a>
              <p class="text-center">Работа в AllHere</p>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <div class="navigation-block__item position-relative">
              <a class="stretched-link" href="{% url 'app_shop:main_sub_pages' 'for_wholesalers'%}"></a>
              <p class="text-center">Оптовикам</p>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <div class="navigation-block__item position-relative">
              <a class="stretched-link" href="#"></a>
              <p class="text-center">Поставщикам</p>
            </div>
          </li>
          <li class="nav-item flex-fill">
            <div class="navigation-block__item-last position-relative">
              <div class="dropdown dropup text-center">
                <a class="dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Личный кабинет
                </a>
                <div class="dropdown-menu border-danger position-absolute" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item text-center" href="{% url 'app_shop:authentication' %}">Войти</a>
                  <a class="dropdown-item text-center" href="{% url 'app_shop:authentication' %}">Зарегистрироваться</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <!-- navigation end -->
    <!-- sub-navigation -->
    <div class="sub-navigation-block container">
      <nav class="navbar navbar-light bg-light p-0">
        {% block sub-navigation %}
        {% endblock %}
      </nav>
      <div class="sub-navigation-block__name-page">
        <p class="sub-navigation-block__name-text">
          {% block name-page %}
          {{ object.title }}
          {% endblock %}
        </p>
      </div>
    </div>
    <!-- sub-navigation end -->
    <!-- content -->
    <div class="content-block">
      {% block content %}
      {% endblock %}
    </div>
    <!-- content end -->
    <!-- footer -->
    <footer class="footer-block container p-0">
      <nav class="footer-block__nav navbar py-0">
        <ul class="navbar-nav flex-row align-items-center text-center w-50">
          <li class="nav-item flex-fill">
            <a class="nav-link p-0" href="{% url 'allhere_in_russia:subpages' 'feedback' %}">
              Обратная связь
            </a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link p-0" href="{% url 'allhere_in_russia:news' %}">
              Новости
            </a>
          </li>
          <li class="nav-item flex-fill">
            <a class="nav-link p-0" href="#">
              Политика конфиденциальности
            </a>
          </li>
        </ul>
      </nav>
    </footer>
    <!-- footer end -->
  </div>
</body>
</html>
