{% extends "subpage_allhere_in_russia/allhere_in_russia.html" %}


{% load crispy_forms_tags %}

{% block title %}
<title>AllHere в России | {{ object.title }}</title>
{% endblock %}

{% block name-page %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="col-11 m-auto py-3">
  {{ object.body|safe }}
  <div class="d-flex justify-content-center py-2">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
      <a class="rent-button btn btn-warning" role="button"
         href="{% url 'app_shop:subpage_allhere_in_russia' 'for_leaseholders' %}">Анкета для арендатора</a>
      <a class="rent-button btn btn-warning" role="button"
         href="{% url 'app_shop:subpage_allhere_in_russia' 'for_landlords' %}">Анкета для арендодатора</a>
    </div>
  </div>
</div>
{% endblock %}
