{% extends "subpage_allhere_in_russia/allhere_in_russia.html" %}


{% block title %}
<title>AllHere в России | Новости | {{ object.title }}</title>
{% endblock %}

{% block name-page %}
  Новости
{% endblock %}

{% block content %}
<div class="news-block row">
  {% if object %}
  <div class="news-block__news-list col-4">
    <div class="list-group">
      {% for news in news_list %}
      <a href="{% url 'app_shop:news' news.id %}"
         class="list-group-item list-group-item-action {% if news.title == object.title %}active{% endif %}">
        {{ news.title }} <small>({{ news.datetime }})</small>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="news-block__news-text col-8">
    <h6 class="mb-2">Опубликовано {{ news.datetime }}</h6>
    <hr>
    <h3 class="text-center mb-2">{{ news.title }}</h3>
    <hr>
    {{ object.body|safe }}
  </div>
  {% else %}
  <h3 class="text-center mx-auto my-5">Новостей пока нет</h3>
  {% endif %}
  <div class="news-block__footer col-12">
    <h3>Контакты для прессы:</h3>
    <p>e-mail: pressa@allhere.ru</p>
    <p>Тел.: тел.: (495) 721-20-90, доб. *1020, *1033, *1568</p>
    <p>Руководитель пресс-службы Джозефина Уткина</p>
  </div>
</div>
{% endblock %}
